.topAcount{
	background-color: #ffffff;
	height: 50px;
	border-bottom: 1px solid #eeeeee; 
}
.topAccountSection{
	float:right;
	height: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom:10px;
	border-left: 1px solid #eeeeee; 
}
.topUserName{
	display:inline-block;
	margin: 0;
	padding: 0;
}
	/*Icons*/
.iconSmallProfileUser{
	width: 50px;
	height: 50px;
	background-position: -115px -5px;
	display: inline-block;
	margin-top: -10px;
}
.iconDownArrow{
	width: 14px;
	height: 14px;
	background-position: -271px -5px;
	display: inline-block;
	margin-right: 10px;
}
	/*HoverLog*/
a.hoverLogin span {
	display: none;
}
a.hoverLogin{
	text-align: center;
}
a.hoverLogin:hover span {
	border: 1px solid #d2d9d6;
	-webkit-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	-moz-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	display: block;
	position: absolute;
	padding: 10px;
	text-align: center;
	background-color: #ffffff;
	color: black;
	width:auto;
	height:auto;
	font-size: 13.5px;
	/*EDIT THESE TO RE-ALIGN HIDDEN BOX */ 
	top: 0%;
	left: 95%;
}