.topAcount{
	background-color: #ffffff;
	height: 50px;
	border-bottom: 1px solid #eeeeee; 
}
.topAccountSection{
	float:right;
	height: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom:10px;
	border-left: 1px solid #eeeeee;
	width: 10%;
}
.topUserName{
	display:inline-block;
}
	/*Icons*/
.iconSmallProfileUser{
	width: 25px;
	height: 25px;
	background-position: -130px -10px;;
	display: inline-block;
	margin-right: 10px;
}
.iconDownArrow{
	width: 14px;
	height: 14px;
	background-position: -311px -10px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
	/*HoverLog*/
a.hoverLogin span {
	display: none;
}
a.hoverLogin{
	text-align: center;
}
a.hoverLogin:hover span {
	border: 1px solid #d2d9d6;
	-webkit-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	-moz-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	display: block;
	position: absolute;
	padding: 10px;
	background-color: #ffffff;
	color: black;
	text-align: left;
	width:8%;
	height: 3%;
	font-size: 14px;
	/*EDIT THESE TO RE-ALIGN HIDDEN BOX */ 
	top: 0%;
	left: 90%;
}