/*Content*/
/*Top Account*/
.topAccount{
	background-color: #ffffff;
	height: 50px;
	border-bottom: 1px solid #eeeeee;
	float:left;
	width:83%;
}
.topAccountSection{
	float:right;
	height: auto;
	text-align: center;
	padding: 10px;
	border-left: 1px solid #eeeeee;
	width: 12%;
}
.topUserName{
	display:inline-block;
}

/*Middle Content for Mentors and Interns*/
.mentorList{
	float:left;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 110px;
	width: 38%;
	display:inline-block;
}
.internList{
	float:left;
	margin-right: 20px;
	margin-top: 110px;
	width: 37%;
	display:inline-block;
}
.existingMentor{
	margin-top: 30px;
	background-color: #ffffff;
	border: 1px solid #d2d9d6;
}
.existingIntern{
	margin-top: 30px;
	background-color: #ffffff;
	border: 1px solid #d2d9d6;
}
.alignment{
	display: inline-block;
}
.imageAlignment{
	display: inline-block;
	vertical-align: middle;
}
.buttonAlignment{
	display: inline-block;
	float: right;
}
.buttonAlign{
	display: inline-block;
	margin-left: 10%;
}
/*Headings*/
.category{
	color: #323232;
}
.newUserName{
	color: #2b2b2b;
	padding: 10px;
}
.list{
	color: #a2a2a2;
}
.emailAddress{
	color: #a2a2a2;
	padding: 10px;
}

	/*Icons*/
.iconSmallProfileUser{
	width: 25px;
	height: 25px;
	background-position: -130px -10px;;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}
.iconDownArrow{
	width: 14px;
	height: 14px;
	background-position: -311px -10px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	vertical-align: -webkit-baseline-middle;
}
.iconPlusButton{
	width: 14px;
	height: 14px;
	background-position: -611px -10px;
	display: inline-block;
	margin-right: 10px;
}
.fa-plus{
	margin-right: 5px;
}
/*Button*/
.buttonIntern{
	border: 1px solid #d2d9d6;
	-webkit-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	-moz-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	background-color: #ffffff;
	color: #444444;
	font-size: 10px;
	text-transform: uppercase;
	height: 30px;
	width: 100px;
	cursor:pointer;
}
.buttonMentor{
	border: 1px solid #d2d9d6;
	-webkit-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	-moz-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	background-color: #ffffff;
	color: #444444;
	font-size: 10px;
	text-transform: uppercase;
	height: 30px;
	width: 100px;
	cursor:pointer;
}
.buttonAddImage{
	border: 1px solid #d2d9d6;
	-webkit-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	-moz-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	background-color: #ffffff;
	display: inline-block;
	color: #444444;
	font-size: 10px;
	text-transform: uppercase;
	height: 30px;
	width: 100px;
}
.buttonSubmitMentor{
	width: 16%;
	height: auto;
	background-color: #06a8d7;
	margin-top: 10px;
	padding: 11px 15px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	border-radius: 2px;
	text-transform: uppercase;
	display: block;
	cursor:pointer;
}
.buttonDelete{
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	cursor:pointer;
	background-color: #efefef;
}
.buttonDelete:hover{
	background-color: #dfdddd;
}
.buttonMentor:hover{
	background-color: #efefef;
}
.buttonIntern:hover{
	background-color: #efefef;
}
.buttonAddImage:hover{
	background-color: #efefef;
}
.buttonSubmitMentor:hover{
	background-color: #0d89ed;
}
	/*HoverLog*/
a.hoverLogin span {
	display: none;
}
a.hoverLogin{
	text-align: center;
}
a.hoverLogin:hover span {
	border: 1px solid #d2d9d6;
	-webkit-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	-moz-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	display: block;
	position: absolute;
	padding: 10px;
	background-color: #ffffff;
	color: black;
	text-align: left;
	width:10%;
	height: 3%;
	font-size: 14px;
	/*EDIT THESE TO RE-ALIGN HIDDEN BOX */
	top: 0%;
	left: 88%;
}

/*Container*/
.containerForm{
	width: 75%;
	margin-left: 20%;
	background-color: #ffffff;
	border: 1px solid #d2d9d6;
	text-align: center;
	-webkit-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	-moz-box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
	box-shadow: 1px 1px 9px 0px rgba(94,94,94,0.33);
}
.mainHeaderDashboard{
	font-size: 32px;
	margin-bottom: 20px;
	margin:0;
}