/*Content*/
/*Middle Content for Mentors and Interns*/
.mentorList{
	margin: 5% 2% 5% 21%;
	width: 38%;
	display:inline-block;
	vertical-align: top;
}
.internList{
	margin: 5% 0 5% 0;
	width: 37%;
	display:inline-block;
	vertical-align: top;
}
.courseList{
	margin: 6% 0 0 0;
	padding-left: 21%;
	width: 77%;
	display:inline-block;
}
.existing-user-container {
	border: 1px solid #d2d9d6;
	margin-top: 10%;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
}
.noUserMessage {
	text-align: center;
	background-color: #ffffff;
}
.existingMentor{
	background-color: #ffffff;
	border-bottom: 1px solid #d2d9d6;
	padding-top: 5px;
}
.existingIntern{
	background-color: #ffffff;
	border-bottom: 1px solid #d2d9d6;
	padding-top: 5px;
}
.existingCourse{
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #ffffff;
	border: 1px solid #d2d9d6;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
}
.existingCourse.existingCourseDisplay {
	padding: 10px;
}
.inactiveCourse{
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #DEDEDE;
	border: 1px solid #d2d9d6;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
}
.inactiveCourse.inactiveCourseDisplay {
	padding: 10px;
}
.existingCourse-answer{
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #d6ffd5;
	border: 1px solid #d2d9d6;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
}
.existingExercise{
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #ffffff;
	border: 1px solid #d2d9d6;
	border-bottom: transparent;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
}
/*.exercise-details{
	border-bottom: 1px solid #d2d9d6;
}*/
.exercise-responses{
	margin-left: 4%;
	width:95%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #ffffff;
	border: 1px solid #e2e9e6;
	border-bottom: transparent;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
}

.exercise-details.header {
	border-bottom: 1px solid #e2e9e6;
}
.course-details{
	padding: 10px;
	margin-top: 30px;
}
.courseName{
	border-bottom: 1px dashed #2e2e2e;
	margin-bottom: 10px;
}
.course-details-name{
	border-bottom: 1px dashed #000;
	margin-bottom: 10px;
}
.course-details-content{
	margin-top: 40px;
}
.course-exercise-content{
	border-bottom: 1px solid #e2e9e6;
}
.course-exercise-name{
	margin-bottom: 10px;
}
.exercise-details > .course-exercise-name > .alignment > h3 {
	font-size: 25px;
}
.course-title-name{
	margin-bottom: 10px;
	margin-left: 1%;
}
.courseContent{
	border-bottom: 2px solid #efefef;
	margin-bottom: 10px;
	height: 50px;
	overflow: hidden;
}
.courseDetail{
	margin-bottom:10px;
	margin-left: 1%;
	color: darkslategrey;
	width: 98%;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
}
.courseDetail.solution-content {
	padding: 15px;
}
/*.courseDetail.alignment > p {
	font-size: 14px;
}*/
.alignment{
	display: inline-block;
}
.imageAlignment{
	display: inline-block;
	vertical-align: middle;
}
.buttonAlignment{
	display: inline-block;
	float: right;
}
.buttonAlign{
	display: inline-block;
	margin-left: 10%;
}
/*HoverLog*/
.hoverLogin ul li{
	display: none;
}
.hoverLogin:hover ul {
	border: 1px solid #d2d9d6;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	display: block;
	position: absolute;
	background-color: #ffffff;
	color: black;
	text-align: left;
	width:12%;
	height: auto;
	font-size: 14px;
	z-index: 2;
/*EDIT THESE TO RE-ALIGN HIDDEN BOX */
	top: 0%;
	left: 85%;
}
.hoverLogin:hover ul, .hoverLogin:hover ul li{
	display: block;
}
.hoverLogin:hover li{
	border-bottom: 1px solid #d2d9d6;
}
.hoverLogin li:hover{
	background-color: #efefef;
}
.hoverLogin a{
	padding:10px;
	display: block;
}
.labelGrey{
	background-color: #eeeeee;
	color: #9e9e9e;
	font-size: 12px;
	padding: 5px;
	font-weight: bold;
	border-radius: .25em;
	margin-bottom: 9px;
	margin-left: 10px;
}
/*Container*/
.containerForm{
	width: 75%;
	margin-top: 3%;
	margin-left: 22%;
	margin-bottom: 5%;
	background-color: #ffffff;
	border: 1px solid #d2d9d6;
	text-align: center;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
}
.mainHeaderDashboard{
	margin-top: 2%;
	font-size: 32px;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
}
.modal-container {
	display: none;
	height: 160px;
	width: 600px;
	border-radius: 10px;
	background-color: #ffffff;
}
.modal-container > .remodal > h1 {
	font-weight: 600;
	padding: 15px;
	font-size: 20px;
	border-bottom: 1px solid silver;
	margin: 0;
}
.modal-container > .remodal > p {
	padding: 15px;
	font-size: 16px;
	margin: 0;
}
.remodal-button {
	padding: 12px 14px;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 2px;
	cursor: pointer;
	margin-left: 13px;
}
.remodal > form {
	margin-top: -20px;
}
.remodal-confirm {
	background-color: #4caf50;
}
.button-x {
	cursor: pointer;
	padding: 6px 8px;
	color: darkgray;
	font-weight: 600;
	background-color: #ffffff;
	border-top-right-radius: 10px;
	font-family: 'Roboto';
}
.remodal-cancel.remodal-button {
	background-color: tomato;
}
.show-more-info{
	float: right;
	font-size: 14px;
	text-decoration: none;
	color: #42a5f5;
}
.show-more-info:hover{
	color: #0c80df;
	text-decoration: underline;
}
.courseUserName{
	display: inline-block;
	margin:0;
	margin-left: 10px;
	color: #2e2e2e;
	font-weight: 600;
}
.exercise-theme-name{
	margin-left:10px;
}

.append-exercise > span {
	vertical-align: sub;
	margin-right: 5px;
}
.course-solution-content{
	overflow: scroll;
}