@font-face{
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto.ttf')  format('truetype');
}
body{
	background-color: #f5f5f5;
	font-family: 'Roboto';
	margin: 0 auto;
}
	h1, h2, h3, h4, h5, h5, ul, ol, p, section, article, nav, aside {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
li {
	list-style-type: none;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clearfix {
	clear: both;
}
.noMargin{
	margin:0;
}
.noPadding{
	padding:0;
}
.noBorder{
	border:0;
}
button{
	margin:0;
	padding:0;
	border:0;
}
	/*Main Icon*/
.iconParent{
	background-image: url("../images/icon-sprites.png");
	background-repeat: no-repeat;
	list-style-type: none;
}
	/*Footer*/
.footer{
	text-align: center;
	color: #888;
	font-weight: 500;
	background: #fff;
	height: 45px;
	line-height: 45px;
	display: block;
	box-shadow: 0 -3px 5px -3px rgba(0, 0, 0, 0.15);
	z-index: 101;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
}
	/*Sidebar Navigation*/
	/*Container*/
.side-navigation{
	width:20%;
	float:left;
	height: 1024px;
	background-color: #212121;
	color: #ffffff;
	margin: 0;
	padding: 0;
}
.topProfile{
	background-color: #42a5f5;
	height: auto;
	padding-top:10px;
	padding-bottom: 10px;
	margin-bottom:10px;
}
.userAvatar{
	text-align: center;
	margin:0;
	padding:0;
}
	/*Heading*/
.topLogo{
	text-align:center;
	margin:0;
	padding:0;
	font-size: 20px;
}
.userName{
	font-size: 22px;
	margin:0;
	padding:0;
	margin-bottom: 20px;
}
	/*Aside Icons*/
.iconProfileUser{
	width: 100px;
	height: 100px;
	background-position: -10px -10px;
	display: inline-block;
	margin: 0;
}
.iconDashboard{
	width: 14px;
	height: 14px;
	background-position: -209px -10px;
	display: inline-block;
	margin-right: 10px;
}
.iconDashboard:hover{
	width: 14px;
	height: 14px;
	background-position:  -243px -10px;
	display: inline-block;
	margin-right: 10px;
}
.iconPlus{
	width: 14px;
	height: 14px;
	background-position: -611px -10px;
	display: inline-block;
	margin-right: 10px;
}
.iconPlus:hover{
	width: 14px;
	height: 14px;
	background-position: -645px -10px;
	display: inline-block;
	margin-right: 10px;
}
	/*Menu*/
nav {
	border-top: 1px solid #2e2e2e;
	border-bottom: 1px solid #2e2e2e;
}
nav ul {
	padding-left: 0;
	font-size: 16px;
}

nav li {
	display: block;
	padding: 10px 10px;
	margin-top: 20px;
	vertical-align: top;

}
nav ul a {
	color: #88999c;
	text-decoration: none;
	vertical-align: top;
}
nav ul li:hover,
nav ul li:hover a{
	background-color: #243342;
	color: #ffffff;
}
