body{
	background-color: #f5f5f5;
	font-family: 'Roboto';
	margin: 0 auto;
	margin-bottom: 3%;
}
.courseDetail a:visited, .course-exercise-content a:visited, .exercise-container a:visited {
	color: #42a5f5;
}
.container-box-shadow {
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
}

.button {
	width: auto;
	height: auto;
	padding: 8px 12px;
	border-radius: 2px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	display: block;
	line-height: 1.4;
	cursor:pointer;
	font-family: 'Roboto';
	font-size: 14px;
}

.button-gray {
	border: 1px solid #efefef;
	background-color: #ffffff;
	text-decoration: none;
	color: #444444;
	font-size: 12px;
}
.button-blue {
	border: 1px solid #42a5f5;
	background-color: #42a5f5;
	color: #ffffff;
}
.link{
	color: #42a5f5;
	font-size: 13px;
	text-decoration: none;
	font-weight: 700;
}
.links-a {
	text-decoration: none;
	color: inherit;
}
.link:hover {
	color: #0c80df;
	text-decoration: underline;
}
.spacing > p{
	margin:5px;
}
.reset{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.mainHeader{
	font-size: 32px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.reset > p{
	margin:0;
}
.containerForm> h1{
	margin: 10px;
	font-weight: normal;
}
.user-margin{
	margin-left: 10px;
}
.uppercase{
	text-transform: uppercase;
}
form{
	margin:0;
	padding:0;
}
li {
	margin-left: 18px;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clearfix {
	clear: both;
}
.center {
	margin-left:auto;
	margin-right: auto; 
}

.inline {
	display: inline-block;
}
button{
	margin:0;
	padding:0;
	border:0;
}
.current-page{
	display:none;
}
/*Error and Succes Message*/
.message-info-align{
	margin-top: 10px;
	margin-right: 20px;
	display: inline-block;
	float: right;
}
.user-message-align{
	margin-top:10px;
}
.message-align{
	margin-left: 50%;
}
.errorMessage{
	color: #FA3E3E;
	text-align: center;
	margin-top: 2%;
}

.message {
	position: absolute;
	max-width: 250px;
	color: #ffffff;
	text-align: center;
	margin-top: 2%;
	padding: 7px 35px 7px 10px;
	border-radius: 2px;
}
.errorMessageContainer {
	left: 0;
	right:0;
	background-color: tomato;
}
.successMessage{
	left: 0;
	right:0;
	background-color: limegreen;
}
.successMessageLogin {
	left:50%;
	transform: translateX(-50%);
	top:10px;
	background-color: limegreen;
}
.errorMessageLogin {
	left:50%;
	transform: translateX(-50%);
	top:10px;
	background-color: tomato;
}
.successMessage > a > .success-error-icon, .successMessageLogin > a > .success-error-icon, 
.errorMessageContainer > a > .success-error-icon, .errorMessageLogin > a > .success-error-icon{
	margin-top: 1px;
	margin-left: 15px;
	display: inline-block;
	float: right;
	position: absolute;
	right: 5px;
	top: 7px;
}
.successMessage > a, .successMessageLogin > a, .errorMessageContainer > a, .errorMessageLogin > a {
	text-decoration: none;
	color: #ffffff;
}
.successMessageLogin.successMessageExercise {
	transform: none;
	right:0;
	top: 35px;
}
.otherMessage{
	margin: 10px 9px 10px 8px;
	padding: 5px 0 5px 20px;
	background-color: #DADFE1;
}
.deleteMessage{
	color: #74DF00;
	text-align: center;
	margin-top: 20px;
}
	/*Main Icon*/
.iconParent{
	background-image: url("../images/icon-sprites.png");
	background-repeat: no-repeat;
	list-style-type: none;
	display: inline-block;
}
	/*Icons*/
.iconSmallProfileUser{
	width: 25px;
	height: 25px;
	background-color: transparent;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}
.iconDownArrow{
	background-position: -311px -10px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	vertical-align: -webkit-baseline-middle;
	vertical-align: -moz-middle-with-baseline;
}
.fa-bell-o {
	margin-right: 9px;
}

.fa-plus{
	margin-right: 5px;
}
.fa.fa-hourglass-half {
	position: absolute;
	top: 17px;
}
.exercise-details .fa.fa-check {
	position: absolute;
	top:20px;
}
.fa.fa-times.exercise{
	position: absolute;
	top:19px;
}
.submitted > .course-exercise-name > .user-margin {
	position: relative;
}
.submitted > .course-exercise-name > .user-margin > .newUserName {
	padding-left: 20px;
}
.submitted > .course-exercise-content > .newUserName {
	padding-left: 20px;
}
.fa-lock{
	margin-right: 5px;
	margin-left: 5px;
}
.fa-credit-card{
	margin-right: 5px;
}
.fa-align-justify{
	border: 1px solid #e0e0e0;
	padding: 10px;
	margin-right: 6px;
	margin-top: 20px;
	border-radius: 3px;
}
.fa-arrow-down{
	float: right;
	margin-left: 5px;
}
.fa-arrow-left{
	float: right;
	margin-left: 5px;
}
.fa-check{
	display: inline-block;
	margin-right: -10px;
}
/*Aside Icons*/
.profile-image{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.iconProfileUser{
	background-color: transparent;
	margin: 0;
} 

.icon-small {
	width: 14px;
	height: 14px;
}
.iconDashboard{
	background-position: -209px -10px;
	margin-right: 10px;
	margin-top: 5px;
}
.iconPlus{
	background-position: -611px -10px;
	margin-right: 10px;
}
.iconPlusMore{
	background-position: -611px -10px;
	margin-top: 4px;
}
.iconMinus{
	background-position: -543px -10px;
}
.iconGraduation{
	background-position: -373px -10px;
	margin-right: 10px;
}
.iconText{
	background-position: -713px -10px;
	margin-right: 13px;
}
.iconMinusMore {
	background-position: -543px -10px;
	margin-top: 4px;
}
nav ul:hover .iconText{
	background-position: -747px -10px;
}
nav ul:hover .iconGraduation{
	background-position: -407px -10px;
}
nav a:hover .iconMinus{
	background-position: -577px -10px;
}
nav a:hover .iconDashboard{
	background-position: -243px -10px;
}
nav a:hover .iconPlus{
	background-position: -645px -10px;
}

/*Button*/
.button-placement{
	display:inline-block;
	float: right;
	margin-top:30px;
}

.button-save-course{
	margin-top: 10px;
}
.button-save-exit-course{
	margin-top: 10px;
	margin-left: 10px;
	display: block;
}

.buttonSubmitUser{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

.button-cancel{
	border: 1px solid #e7e7e7;
	color: #444444;
	margin-right: 10px;
	margin-top:9px;
	background-color: #efefef;
}
.button-small {
	padding: 4px 5px;
	line-height: 1.5;
	border-radius: 3px;
	vertical-align: middle;
	border: 1px solid #e7e7e7;
	font-size: 12px;
	color: #444444;
	display: inline-block;
	margin-right: 10px;
	cursor:pointer;
	background-color: #efefef;
}
.button-solution {
	padding: 5px 10px;
	border-radius: 0 0 5px 5px;
	line-height: 1.5;
	border: 1px solid #e2e9e6;;
	font-size: 12px;
	color: #444444;
	display: inline-block;
	margin-right: 10px;
	margin-top: -1px;
	cursor:pointer;
	background-color: #ffffff;
	vertical-align: -webkit-baseline-middle;
	vertical-align: -moz-middle-with-baseline;
	border-top:transparent;
}
.button-save-course:hover{
	background-color: #0c80df;
}
.button-save-exit-course:hover{
	background-color: #0c80df;
}

.button-cancel:hover{
	background-color: #d5d5d5;
	border: 1px solid #c8c8c8;
}
.button-small:hover {
	background-color: #d5d5d5;
	border: 1px solid #c8c8c8;
}
.button-gray:hover{
	background-color: #efefef;
}
.button-blue:hover{
	background-color: #0d89ed;
}
	/*Footer*/
.footer{
	text-align: center;
	color: #888;
	font-weight: 500;
	background: #fff;
	height: 45px;
	line-height: 45px;
	display: block;
	box-shadow: 0 -3px 5px -3px rgba(0, 0, 0, 0.15);
	z-index: 101;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
}
/*Top Account*/
.topAccount{
	background-color: #ffffff;
	height: 45px;
	border-bottom: 1px solid #eeeeee;
	width:100%;
}
.topAccountSection{
	float:right;
	height: auto;
	text-align: center;
	padding: 10px;
	border-left: 1px solid #eeeeee;
	width: auto;
}
.topUserName{
	display:inline-block;
}
/*Sidebar Navigation*/
/*Container*/

.active-sidebar-sublist > a{
	background-color: transparent;
	color: #ffffff;
}
nav ul .active-sidebar > a {
	background-color: #243342;
	color: #ffffff;
}
.active-sidebar a .iconPlus{
	background-position: -645px -10px;
}
.active-sidebar a .iconDashboard {
	background-position: -243px -10px;
}
.active-sidebar a .iconGraduation {
	background-position: -407px -10px;
}
.active-sidebar a .iconText {
	background-position: -747px -10px;
}
.side-navigation{
	width:19%;
	float:left;
	height: 1024px;
	background-color: #212121;
	color: #ffffff;
	margin: 0;
	padding: 0;
	position:fixed;
}
.sub-nav-list>a {
	display: block;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.sub-nav-list:hover>a{
	background-color: transparent;
}
@media screen and (max-width: 960px) {
	.side-navigation{
		width: 150px;
	}
	.iconProfileUser{
		width:100px;
	}
}
@media screen and (max-width: 758px) {
	.side-navigation{
		width: 100px;
	}
	.courseList, .footer, .topAccount{
		width: 700px;
	}
	.topAccountSection{
		width: 150px;
	}
}
@media screen and (max-width: 524px) {
	.side-navigation{
		width: 50px;
	}
	.courseList, .footer, .topAccount{
		width: 600px;
	}
	a, li, h1, h2, h3, h4 nav{
		width: 50px;
	}
	.iconProfileUser{
		width:30px;
	}
}
@media screen and (max-width: 200px) {
	.side-navigation{
		width: 30px;
	}
	.courseList, .footer, .topAccount{
		width: 600px;
	}
	.topAccountSection{
		width: 150px;
	}
	a, li, h1, h2, h3, h4, nav{
		width: 30px;
	}
	.iconProfileUser{
		width:10px;
	}
}
.solutions-container{
	padding-bottom:10px;
}
.topProfile{
	background-color: #42a5f5;
	height: auto;
	padding-top:10px;
	padding-bottom: 10px;
	margin-bottom:10px;
}
.userAvatar{
	text-align: center;
	margin:0;
	padding:0;
}
/*Heading*/
.exercise-number{
	vertical-align: sub;
	display: inline-block;
	color: #2b2b2b;
}
.label-name{
	color: #2b2b2b;
	display: inline-block;
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 1.5;
}
.course-name{
	color: #2b2b2b;
	padding: 5px 0 5px 10px;
	border-bottom: 2px solid #eeeeee;
}
.title{
	color: #42a5f5;
	padding: 10px;
}

.category{
	color: #2e2e2e;
}
.newUserName{
	color: #2b2b2b;
	padding: 10px;
}
.newUserName > a {
	font-size: 20px;
}
.newUserName > p {
	font-size: 14px;
}
.course-details-name > .alignment > h3 {
	font-size: 29px;
}
.username-underline{
	color: #2b2b2b;
	padding: 5px 0 5px 10px;
}
.username-underline:hover{
	text-decoration: underline;
}
.list{
	color: #a2a2a2;
}
.emailAddress{
	color: #a2a2a2;
	padding:0 0 10px 10px;
}
.topLogo{
	text-align:center;
	margin:0;
	padding:0;
	font-size: 20px;
}
.userName{
	font-size: 22px;
	margin:0;
	padding:0;
	margin-bottom: 20px;
}
/*Menu Navigation*/
nav {
	border-top: 1px solid #2e2e2e;
	border-bottom: 1px solid #2e2e2e;
}
nav ul {
	padding-left: 0;
	font-size: 16px;
}
nav li {
	display: block;
	vertical-align: top;
}
nav ul span {
	display: inline-block;
	cursor: default;
	padding-bottom: 10px;
	padding-left: 23px;
	padding-top: 7px;
	color: #88999c;
	text-decoration: none;
	vertical-align: top;
}
nav ul a {
	color: #88999c;
	text-decoration: none;
	vertical-align: top;
	padding: 15px;
	display: block;
	position: relative;
}
nav ul li:hover > a{
	background-color: #243342;
	color: #ffffff;
}
/*Input and Form*/
*:focus{
	outline: 0;
	outline-offset: 0;
}
.createUserForm {
	padding: 16px;
}
.formInput {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #efefef;
	position: relative;
	box-shadow: none;
	padding: 16px 0 0;
	height: 30px;
	margin-bottom: 10px;
}
.formInput label {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
	font-size: 1.23rem;
	font-weight: normal;
	height: 48px;
	line-height: 48px;
	margin: 0;
	display: block;
}
.formInput:not(.static) label {
	pointer-events: none;
}
.formInput .formControl {
	font-size: 1.23rem;
	border: none;
	line-height: 16px;
	background-color: transparent;
	box-shadow: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: auto;
	width: 100%;
}
.formInput .formControl::-moz-placeholder {
	color: transparent;
	opacity: 0;
}
.formInput .formControl:-ms-input-placeholder {
	color: transparent;
	opacity: 0;
}
.formInput .formControl::-webkit-input-placeholder {
	color: transparent;
	opacity: 0;
}
.formInput .formBar:before,
.formInput .formBar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: -1px;
	position: absolute;
	background: #42a5f5;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
}
.formInput .formBar:before {
	left: 50%;
}
.formInput .formBar:after {
	right: 50%;
}
.formInput .formControl:focus::-moz-placeholder,
.formInput.static .formControl::-moz-placeholder {
	color: transparent;
	opacity: 0;
}
.formInput .formControl:focus:-ms-input-placeholder,
.formInput.static .formControl:-ms-input-placeholder {
	color: transparent;
	opacity: 0;
}
.formInput .formControl:focus::-webkit-input-placeholder,
.formInput.static .formControl::-webkit-input-placeholder {
	color: transparent;
	opacity: 0;
}
.formInput.static .formControl ~ label {
	font-size: 1rem;
	top: -18px;
	cursor: pointer;
}
.input-focus label,
.formInput .formControl:focus ~ label,
.formInput .formControl.used ~ label {
	color: #42a5f5;
	font-size: 1rem;
	top: -18px;
}
.formInput .formControl:focus ~ .formBar:before,
.formInput .formControl:focus ~ .formBar:after {
	width: 50%;
	top: 97%;
}
.input-focus label {
	margin: 0 auto;
}

.formInput .input-group {
	position: initial;
	width: 100%;
}
.formInput .input-group label {
	left: 36px;
}
.form-placement{
	display: inline-block;
	width: 85%;
	margin-top: 20px;
}
.check-input-hidden {
	display: none;
}
.check-input, .passwordsStatus, .validEmail {
	color: tomato;
	margin-bottom: 7px;
}
/*Course List*/
.half{
	float:left;
	list-style-type: none;
	padding:10px;
	cursor: pointer;
}
.half-inactive{
	float:left;
	list-style-type: none;
	padding:10px;
	cursor: pointer;
}
.navigation-course{
	width: 100%;
	overflow: hidden;
}
.create-menu{
	margin-top: 7%;
	margin-bottom: 5%;
	padding: 0 10px 0 10px;
	padding-left: 21%;
	width:75%;
	display:inline-block;
}
.description-create-course{
	padding: 5px 0 10px 0;
}
/*Tab Links*/
/* Clearfix */
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

li.inactive a {
	color: #adb3ba;
}
li.active a {
	background: #ffffff;
	color :#42a5f5;
}
/*Content of Tabs*/
.tab-content {
	padding:40px;
	border-top: transparent;
	background:#fff;
}
.tab {
	display:none;
}
.tab.active {
	display:block;
}
.input-type{
	border: transparent;
	padding: 10px;
}
.form-distance{
	margin-top: 10px;
}
/*remove chrome specific yellow background color on input*/
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
/* CREATE COURSE STYLE*/
.course-label-container {
	padding: 16px;
	border: 1px solid #e2e9e6;
}
input[type="checkbox"] {
	vertical-align: middle;
}
.course-label-container label {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	font-size: 14px;
	margin-right: 10px;
	color: #212121;
}
.mce-btn button, .mce-container, .mce-container-body, .mce-btn-group .mce-btn {
	background-color: #ffffff !important;
}
.mce-btn-group:not(:first-child) {
	border: none !important;
}
.exercise-name-holder{
	margin-top:20px;
}
input {
	text-align: center;
}
.input-left {
	text-align: left;
}
.list-editor{
	margin:0;
	list-style-type: none;
	cursor: pointer;
}

.exercise-container {
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	margin-top: 6px;
	height: auto;
	padding: 6px;
	vertical-align: middle;
}
.create-exercise {
	padding: 7px 10px;
	margin-top: 20px;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
}
.display{
	display:inline-block;
}
.fa.fa-times, .fa.fa-pencil {
	display: block;
}
.submitted-exercise-container{
	padding: 10px;
	overflow: scroll;
}
.submitted-exercise-container > .alignment {
	width: 100%;
}
.submitted-exercise-container > .alignment > .edit-solution {
	margin-top: 10px;
}
.mce-primary button, .mce-primary button i {
	color: black!important;
}
.mce-primary {
	background-color: #F0F0F0!important;
}
.mce-primary:hover, .mce-primary:focus {
	border-color: #CCC!important;
}

/*Pending Request page*/
.pending-title {
	font-size: 28px;
	margin: 5% 0 0 34%;
}
.select-role-wrapper {
	display: none;
}

.pending-container {
	margin: 2% 0 0 34%;
	background-color: #ffffff;
	border: 1px solid #d2d9d6;
	width: 51%
}
.pending-container label {
	vertical-align: middle;
	color: #2b2b2b;
	margin-right: 25px;
}
.pending-container form section {
	margin-top: 12px;
}
.pending-user .wrapper {
	margin-bottom: 10px;
}
.pending-user {
	background-color: inherit;
	border-bottom: 1px solid #d2d9d6;
	padding: 10px;
}
.pending-user h2 {
	color: #2b2b2b;
	font-size: 20px;
}

.pending-user h3 {
	color: #a2a2a2;
	font-size: 15px;
	margin-top: 5px;
}
.pending-user .button-cancel {
	margin-top: 5px;
}
.request-number-wrapper {
	position: absolute;
	top: 6px;
	left: 20px;
	font-size: 14px;
	background-color: tomato;
	color: #ffffff;
	width: 16px;
	padding: 1px;
	text-align: center;
	border-radius: 50%;
}
.pending-user section {
	width: 50%;
	margin: auto;
	text-align: center;
}
.fa.fa-street-view {
	margin-right: 10px;
}
/* Feedback Section */
.feedback-container {
	padding: 15px;
	border-top: 1px solid #e2e9e6;
	color: #2b2b2b;
}
.feedback-container input[type="radio"] {
	display: none;
}
.feedback-container label {
	background-color: #ffffff;
	margin-right: 20px;
	margin-top: 15px;
}
.feedback-container .correct, .feedback-container .correct:hover {
	border: 1px solid #4DAF7C;
	color: #4DAF7C;
}
.feedback-container .incorrect, .feedback-container .incorrect:hover {
	color: tomato;
	border: 1px solid tomato;
}

.feedback-container input:checked + .correct {
	background-color: #4DAF7C;
	color: #ffffff;
}
.feedback-container input:checked + .incorrect {
	background-color: tomato;
	color: #ffffff;
}
.feedback-container button[type="submit"] {
	margin-top: 15px;
	margin-right: 10px;
	float: right;
}
.feedback-container label:hover {
	background-color: #ffffff;
	color: initial;
}
.feedback-container .fa-check {
	margin-right: 10px;
}
.feedback-container .fa-times{
	display: inline-block;
	margin-right: 10px;
}
.feedback-container .mce-tinymce.mce-panel {
	width: 600px;
}
.feedback-container h4 {
	font-weight: normal;
	font-size: 18px;
	margin: 10px 0;
}
.feedback-container > div {
	width: 60%;
}








