/*Icons*/
.iconLock {
	background-position: -509px -10px;
	display: inline-block;
	margin-left: 5px;
}
/*Button*/

.buttonSignIn {
	margin: 10px 0 15px 30px;
	width: 100px;
}
.buttonSignIn:hover{
	background-color: #0d89ed;
}
/*Container*/
.signIn{
	width: 20%;
	margin:10% auto;
	background-color: #ffffff;
	border: 1px solid #d2d9d6;
	text-align: center;
	padding: 20px 10px 10px 10px;
}
.signIn span {
	display: inline-block;
	margin-top: 17px;
}
.signIn .google-login{
	margin-right: 30px;
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
	background-color: #de4a33;
	border: 1px solid #de4a33;

}
.google-login:hover {
	background-color: #cf3c25;
}
.fa-google-plus-square {
	margin-left: 5px;
}
.signIn .link {
	display: block;
}

@media all and (max-width: 1350px) {

	.signIn .google-login {
		margin-right: auto;
		margin-left: auto;
		margin-top: 0;
		float: none;
		display: inline-block;
	}
	.buttonSignIn {
		width: 100px;
		margin: 10px auto 10px auto;
		float: none; 
	}
	.signIn .link {
		margin-top: 10px;
	}
}