	<!--pagina curenta-->
	<div class="current-page">
		{{ currentPage }}
	</div>

	<div class="topProfile">
		<h4 class="topLogo reset"> [e-spres-oh] Internship </h4>
	</div>
	<div class="userAvatar">
		<img class="iconProfileUser profile-image" src="{{ path }}images/user-profile-images/{{ profile_image }}">
		<h3 class="userName reset"> {{ first_name }} </h3>
	</div>

	<nav class="reset">
		{% if user_role == 1 %}
		<ul class="reset">
			{% if currentPage == 'dashboard.php' %}
				<li class="list-editor active-sidebar">
			{% else %}
				<li class="list-editor">
			{% endif%}
				<a href='{{ path }}dashboard.php'>
					<i class=" iconParent icon-small iconDashboard"></i> Dashboard
				</a>
			</li>
		</ul>
		<ul class="reset">
			{% if currentPage == 'pending-requests.php' %}
			<li class="list-editor active-sidebar">
			{% else %}
			<li class="list-editor">
			{% endif %}
				<a href='{{ path }}admin/pending-requests.php'>
					{% if requests == 0 %}
					<!--hide counter-->
					{% else %}
					<div class="request-number-wrapper">{{ requests }}</div>
					{% endif %}
					<i class="fa fa-bell-o"></i> Pending Requests
				</a>
			</li>
		</ul>
		<ul class="reset">
			{% if currentPage == 'create-mentor.php' %}
			<li class="list-editor active-sidebar">
			{% else %}
			<li class="list-editor">
			{% endif%}
				<a href='{{ path }}admin/create-mentor.php'>
					<i class=" iconParent icon-small iconPlus"></i> Create Mentor
				</a>
			</li>
		</ul>
		<ul class="reset">
			{% if currentPage == 'create-intern.php' %}
			<li class="list-editor active-sidebar">
			{% else %}
			<li class="list-editor">
			{% endif %}
				<a href='{{ path }}admin/create-intern.php'>
					<i class=" iconParent icon-small iconPlus"></i> Create Intern
				</a>
			</li>
		</ul>
		{% endif %}

		{% if user_role != 1 %}
		<ul class="reset">
		{% if currentPage == 'dashboard.php' or currentPage == 'dashboard.php?show=Frontend' or currentPage == 'dashboard.php?show=PHP' or currentPage == 'dashboard.php?show=Java' %}
		<li class="list-editor dropDown active-sidebar">
		{% else %}
		<li class="dropDown list-editor">
		{% endif %}
			<a><i class=" iconParent  icon-small iconGraduation"></i> Courses <i class=" iconParent icon-small iconPlusMore change-icon float-right"></i></a>
			<ul class="subNav reset">
				{% if currentPage == 'dashboard.php' %}
				<li class="sub-nav-list active-sidebar-sublist">
				{% else %}
				<li class="sub-nav-list">
				{% endif %}
					<a href="{{ path }}dashboard.php">All</a>
				</li>

				{% if currentPage == 'dashboard.php?show=Frontend' %}
				<li class="sub-nav-list active-sidebar-sublist">
				{% else %}
				<li class="sub-nav-list">
				{% endif %}
					<a href="{{ path }}dashboard.php?show=Frontend">Frontend</a>
				</li>

				{% if currentPage == 'dashboard.php?show=PHP' %}
				<li class="sub-nav-list active-sidebar-sublist">
				{% else %}
				<li class="sub-nav-list">
				{% endif %}
					<a href="{{ path }}dashboard.php?show=PHP">PHP</a>
				</li>

				{% if currentPage == 'dashboard.php?show=Java' %}
				<li class="sub-nav-list active-sidebar-sublist">
				{% else %}
				<li class="sub-nav-list">
				{% endif %}
					<a href="{{ path }}dashboard.php?show=Java">Java</a>
				</li>
			</ul>
		</li>
		</ul>
		{% endif %}
		{% if user_role == 2 %}
		
		<ul class="reset">
			{% if currentPage == 'create-course.php' %}
				<li class="list-editor active-sidebar">
			{% else %}
				<li class="list-editor">
			{% endif%}
				<a href='{{ path }}users/create-course.php'>
					<i class=" iconParent icon-small iconPlus"></i> Create Course
				</a>
			</li>
		</ul>
		<ul class="reset">
		{% if currentPage == 'view-exercises.php?course_id=' ~ course.id %}
		<li class="list-editor dropDown active-sidebar">
		{% else %}
		<li class="dropDown list-editor">
		{% endif %}
			<a>
				<i class=" iconParent icon-small iconText"></i>Submitted Exercises
				<i class=" iconParent icon-small iconPlusMore change-icon float-right"></i>
			</a>
			<ul class="subNav reset">
				{% if noExerciseMessage == '' %}
					{% for course in coursesWithExercises %}
						<li class="sub-nav-list {% if currentPage == 'view-exercises.php?course_id=' ~ course.id %}
							active-sidebar-sublist
						{% endif %}">
							<a href="{{path}}users/view-exercises.php?course_id={{ course.id }}">
								{{ course.title }}
							</a>
						</li>
					{% endfor %}
				{% else %}
					<li class="sub-nav-list"><span>{{ noExerciseMessage }}</span></li>
				{% endif %}
			</ul>
		</li>
		</ul>
		{% endif %}
	</nav>