	<!--pagina curenta-->
	<div class="current-page">
		{{ currentPage }}
	</div>

<div class="topAccountSection hoverLogin">
	<img class="iconSmallProfileUser" src="{{ path }}images/user-profile-images/{{ profile_image }}">{{ first_name }}
	<i class="iconParent icon-small iconDownArrow"></i>
	<ul class="reset">
		{% if user_role != 1 %}
		<li class="list-editor">
			<a href="{{ path }}users/edit-profile.php" class="links-a">Edit Profile</a>
		</li>
		<li class="list-editor">
			<a href="{{ path }}users/change-password.php" class="links-a">Change Password</a>
		</li>
		{% endif %}
		<li class="list-editor">
			<a href="{{ path }}controllers/auth.php?action=logout" class="links-a">Logout</a>
		</li>
	</ul>
</div>