	<div class="courseList">

		<div class="alignment">
			<h2 class="category">All</h2>
		</div>

		{% if user_role == 2 %}
		<div class="buttonAlignment">
			<a href="users/create-course.php" id="buttonNewCourse" class="button-add-form">
				<i class="fa fa-plus"></i >New Course
			</a>
		</div>
		{% endif %}
		
		<div class="noUserMessage">
			{{ courseMessage }}
		</div>
		{% for course in courses %}
		<div class="existingCourse">
			<div class="courseName">
			<div class="alignment">
					<h3 class="newUserName"> <a href="users/view-course.php?course_id={{course.id}}">{{ course.title }}</a></h3>
			</div>
			<div class="buttonAlignment">
			
			{% if user_role == 2 %}
				<a href="controllers/edit-a-course.php?course_id={{course.id}}" class="buttonEdit"><i class="fa fa-pencil"></i></a>
				<button value="{{ course.id }}" class="buttonDelete"><i class="fa fa-times"></i></button>
			</div>
			{% endif %}

			</div>
			<div class="courseName">
				<span class="labelGrey alignment">{{ course.label }}</span>
			</div>
			<div class="courseContent">
				<span class="courseDetail alignment">{{ course.description |raw }}</span>
			</div>
			<h4 class="courseUserName">Presented by 
				{% for mentor in course.mentors %}
					{{ mentor.mentor_name }}
				{% endfor %}
			</h4>
			<a class="show-more-info" href="users/view-course.php?course_id={{course.id}}"> Show more </a>
		</div>
		{% endfor %}

		<div class="modal-container">
			<div class="remodal">
				<h1>Delete Course</h1>
				<p>
					Are you sure you want to delete this course?
				</p>
				<br>
				<form action="controllers/delete-course.php" method="POST">
					<button class="remodal-confirm remodal-button" name="delete_course">Yes</button>
					<button type="reset" class="remodal-cancel remodal-button">Cancel</button>
				</form>
			</div>
		</div>


		<script type="text/javascript">

			;(function($) {
				$(function() {

					$('.buttonDelete').bind('click', function(e) {
						e.preventDefault();
						$idTest = $(this).attr('value');
						$('.modal-container').bPopup({
							closeClass: 'remodal-cancel',
							modalClose: true
						});
						$('.remodal-confirm').attr('value', $idTest);
					});

					$('.remodal-confirm').on('click', function() {
						$(this).submit();
					});
				});
			})(jQuery);

		</script>

	</div>