	<!--pagina curenta-->
	<div class="current-page">
		{{ currentPage }}
	</div>

	<div class="courseList">

		{% if label != NULL %}
			<div class="alignment">
				<h2 class="category reset">{{ label }}</h2>
			</div>
		{% else %}
		<div class="alignment">
			<h2 class="category reset">All Courses</h2>
		</div>
		{% endif %}

		{% if user_role == 2 %}
		<div class="buttonAlignment">
			<a href="users/create-course.php" id="buttonNewCourse" class="button-add-form links-a">
				<i class="fa fa-plus"></i >New Course
			</a>
		</div>
		{% endif %}

		<div class="noUserMessage user-message-align">
			{{ courseMessage }}
		</div>

		{% for course in courses %}
		{% if course.mentors|length == 0 %}
			{% set haveMentors = 0 %}
		{% else %}
			{% set haveMentors = 1 %}
		{% endif %}
		{% if haveMentors == 1 or user_role == 2 %}
			<div class="existingCourse container-box-shadow existingCourseDisplay {% if haveMentors == 0 and user_role == 2 %} inactiveCourse {% endif %}">

				<div class="courseName">

				<div class="alignment">
						<h3 class="newUserName username-underline reset"> <a href="users/view-course.php?course_id={{course.id}}" class="links-a">{{ course.title }}</a></h3>
				</div>

				{% if user_role == 2 %}
				<div class="buttonAlignment">
					<a href="users/create-course.php?course_id={{course.id}}" class="buttonEdit links-a"><i class="fa fa-pencil"></i></a>
					<button value="{{ course.id }}" class="buttonDelete"><i class="fa fa-times"></i></button>
				</div>
				{% endif %}

				</div>
				<div class="courseName">
					{% for label in course.label %}
						<span class="labelGrey alignment">{{ label }}</span>
					{% endfor %}
				</div>

				<div class="courseContent">
					<span class="courseDetail alignment">{{ course.description |length>100 ? course.description|slice(0, 190)|raw }}</span>
				</div>

				<h5 class="courseUserName">
				{% if haveMentors == 1 %}
					Presented by {{ course.mentors }}
				{% endif %}
				</h5>

				<a class="show-more-info" href="users/view-course.php?course_id={{course.id}}"> Course details </a>
			</div>
			{% endif %}
		{% endfor %}

		<div class="modal-container">

			<div class="remodal">
				<button type="reset" class="remodal-cancel button-x float-right">X</button>
				<h1 class="reset">Delete Course</h1>
				<p class="reset">
					Are you sure you want to delete this course?
				</p>
				<br>
				<form action="controllers/delete-course.php" method="POST">
					<button class="remodal-confirm remodal-button" name="delete_course">Yes</button>
					<button type="reset" class="remodal-cancel remodal-button">Cancel</button>
				</form>
			</div>

		</div>

	</div>