	<div class="deleteMessage">
		{{ deleteMessage }}
	</div>

	<div class="mentorList">
		<div class="alignment">
			<h2 class="category">Mentors</h2>
			<h4 class="list">List of mentors</h4>
		</div>

		<div class="buttonAlignment">
			<a href="createMentor.php" id="buttonNewMentor" class="button-add-form">
				<i class="fa fa-plus"></i >New Mentor
			</a>
		</div>
		<div class="existing-user-container">
			{{ mentorMessage }}
			{% for user in mentor %}
			{% if user.status == 1 %}
			<div class="existingMentor">
				<div class="alignment">
						<h3 class="newUserName">{{ user.first_name }} {{ user.last_name }}</h3>
						<h5 class="emailAddress">{{ user.email }}</h5>
				</div>

				<div class="buttonAlignment">
					<button value = "{{ user.id }}" class="buttonDelete"><i class="fa fa-times"></i></button>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>

	</div>

	<div class="internList">
	<div class="separateContent">
		<div class="alignment">
			<h2 class="category">Interns</h2>
			<h4 class="list">List of interns</h4>
		</div>

		<div class="buttonAlignment">
			<a href="createIntern.php" id="buttonNewIntern" class="button-add-form">
				<i class="fa fa-plus"></i>New Intern
			</a>
		</div>


		<div class="existing-user-container">
			{{ internMessage }}
			{% for user in intern %}
			{% if user.status == 1 %}
			<div class="existingIntern">
				<div class="alignment">
						<h3 class="newUserName">{{ user.first_name }} {{ user.last_name }}</h3>
						<h5 class="emailAddress">{{ user.email }}</h5>
				</div>

				<div class="buttonAlignment">
					<form data-remodal-target="modal" action="dashboard.php" method="POST" class="test">
						<button name="delete_button" value="{{ user.id }}" class="buttonDelete" >
						<i class="fa fa-times"></i></button>
					</form>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<script type="text/javascript">

			;(function($) {
				$(function() {

					$('.buttonDelete').bind('click', function(e) {
						e.preventDefault();
						$idTest = $(this).attr('value');
						$('.modal-container').bPopup({
							closeClass: 'remodal-cancel',
							modalClose: true
						});
						$('.remodal-confirm').attr('value', $idTest);
					});

					$('.remodal-confirm').on('click', function() {
						$(this).submit();
					});
				});
			})(jQuery);

		</script>

	</div>