	<div class="deleteMessage">
		{{ deleteMessage }}
	</div>

	<div class="mentorList">
		<div class="alignment">
			<h2 class="category">Mentors</h2>
			<h4 class="list">List of mentors</h4>
		</div>

		<div class="buttonAlignment">
			<button id="buttonNewMentor" class="buttonMentor">
				<a href="createMentor.php">
					<i class="fa fa-plus"></i >New Mentor
				</a>
			</button>
		</div>
		<div class="existing-mentor-container">
			{% for user in mentor %}
			<div class="existingMentor">
				<div class="alignment">
						<h3 class="newUserName">{{ user.first_name }} {{ user.last_name }}</h3>
						<h5 class="emailAddress">{{ user.email }}</h5>
				</div>

				<div class="buttonAlignment">
					<button id="delete_button_{{ user.id }}" name="delete_button_{{ user.id }}" class="buttonDelete"><i class="fa fa-times"></i></button>
				</div>
				{{ message }}
			</div>
			{% endfor %}
		</div>

	</div>

	<div class="internList">
	<div class="separateContent">
		<div class="alignment">
			<h2 class="category">Interns</h2>
			<h4 class="list">List of interns</h4>
		</div>

		<div class="buttonAlignment">
			<button id="buttonNewIntern" class="buttonIntern">
				<a href="createIntern.php">
					<i class="fa fa-plus"></i>New Intern
				</a>
			</button>
		</div>


		<div class="existing-intern-container">
			{% for user in intern %}
			<div class="existingIntern">
				<div class="alignment">
						<h3 class="newUserName">{{ user.first_name }} {{ user.last_name }}</h3>
						<h5 class="emailAddress">{{ user.email }}</h5>
				</div>

				<div class="buttonAlignment">
					<button id="delete_button_{{ user.id }}" name="delete_button_{{ user.id }}" class="buttonDelete"><i class="fa fa-times"></i></button>
				</div>
				{{ message }}
			</div>
			{% endfor %}
		</div>

	</div>