<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" href="css/dashboard.css" />
	<link rel="stylesheet" href="css/default.css" />
	<!--Scripts-->

	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--Templates-->
	<meta charset="UTF-8">
	<title>Change Password</title>
</head>

<body>

	<!--Sidebar-->
	<div class="side-navigation">
		{% include 'sidebar.tmpl' %}
	</div>

	<!--Content-->
	<div class="topAccount">
		{% include 'topAccountSection.tmpl' %}
	</div>


	<div class="containerForm">

		<h1 class="mainHeaderDashboard">Change Password</h1>

		<form method="POST" action="">

			<div class="formInput">
				<input class="formControl" id="oldPassword" type="password" name="oldPassword" placeholder="Old Password">
				<span class="formBar"></span>
				<label for="oldPassword">Old Password</label>
			</div>
			<div class="formInput">
				<input class="formControl" id="newPassword" type="password" name="newPassword" placeholder="New Password">
				<span class="formBar"></span>
				<label for="newPassword">New Password</label>
			</div>
			<div class="formInput">
				<input class="formControl" id="retypeNewPassword" type="password" name="retypePassword" placeholder="Retype Password">
				<span class="formBar"></span>
				<label for="retypeNewPassword">Retype Password</label>
			</div>
			<div class="passwordsStatus"></div>

			<div class="imageAlignment">
				<img src="http://placehold.it/100x100" alt="Mentor avatar">
			</div>
			<div class="buttonAlign">
				<button type="submit" id="buttonAddImage" class="buttonAddImage">Add image</button>
			</div>
			<button type="submit" id="buttonSubmitMentor" class="buttonSubmitMentor" >Submit </button>

		</form>
		
		<div>
			{{ errorMessage }}
		</div>
		
		<div>
			{{ successMessage }}
		</div>

	</div>


	<!--Footer-->
	<div class="footer">
		{% include 'footer.tmpl' %}
	</div>
</body>

</html>