<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" href="../css/dashboard.css" />
	<link rel="stylesheet" href="../css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src ="../js/signin.js"></script>

	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--Templates-->
	<meta charset="UTF-8">
	<title>Change Password</title>
</head>

<body>

	<!--Sidebar-->
	<div class="side-navigation">
		{% include 'partial-templates/sidebar.tmpl' %}
	</div>

	<!--Content-->
	<div class="topAccount">
		{% include 'partial-templates/top-account-section.tmpl' %}
	</div>


	<div class="containerForm">

		<h1 class="mainHeaderDashboard">Change Password</h1>

		{% if errorMessage != ''%}
			<div class="errorMessage">
				{{ errorMessage|nl2br }}
			</div>
		{% endif %}

		<form method="POST" action="controllers/change-user-password.php" class="createUserForm">

			<div class="formInput">
				<input class="formControl" id="oldPassword" type="password" name="oldPassword" placeholder="Old Password">
				<span class="formBar"></span>
				<label for="oldPassword">Old Password</label>
			</div>
			<div class="check-input check-input-hidden">Please enter your old password</div>
			
			<div class="formInput">
				<input class="formControl" id="newPassword" type="password" name="newPassword" placeholder="New Password">
				<span class="formBar"></span>
				<label for="newPassword">New Password</label>
			</div>
			<div class="formInput">
				<input class="formControl" id="retypeNewPassword" type="password" name="retypePassword" placeholder="Retype Password">
				<span class="formBar"></span>
				<label for="retypeNewPassword">Retype Password</label>
			</div>
			<div class="passwordsStatus"></div>
			<button type="submit" id="buttonSubmitUser" class="buttonSubmitUser" >Submit </button>

		</form>

	</div>


	<!--Footer-->
	<div class="footer">
		{% include 'partial-templates/footer.tmpl' %}
	</div>
	<script>
		var loadFile = function(event) {
			var reader = new FileReader();
			reader.onload = function(){
				var output = document.getElementById('output');
				output.src = reader.result;
			};
			reader.readAsDataURL(event.target.files[0]);
		};
	</script>
</body>

</html>