<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" href="{{ path }}css/dashboard.css" />
	<link rel="stylesheet" href="{{ path }}css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{ path }}js/app.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--Favicon-->
	<link rel='shortcut icon' type='image/x-icon' href='{{ path }}/images/favicon.ico' />
	<!--Font Awesome-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--Templates-->
	<meta charset="UTF-8">
	<title>Create Mentor</title>
</head>

<body>

	<!--pagina curenta-->
	<div class="current-page">
		{{ currentPage }}
	</div>

	<!--Sidebar-->
	<div class="side-navigation">
		{% include 'partial-templates/sidebar.tmpl' %}
	</div>

	<!--Content-->
	<div class="topAccount">
		{% include 'partial-templates/top-account-section.tmpl' %}
	</div>


	<div class="containerForm container-box-shadow">

		<h1 class="mainHeaderDashboard">Create Mentor</h1>

		{% if errorMessage != ''%}
			<div class="errorMessage">
				{{ errorMessage|nl2br }}
			</div>
		{% endif %}

		{% if successMessage != ''%}
		<div class="successMessage message">
			{{ successMessage }}
		</div>
		{% endif %}

		<form method="POST" action="{{ path }}controllers/create-user.php" class="createUserForm" enctype="multipart/form-data">
			<div class="formInput">
				<input class="formControl" id="firstName" name="first_name" type="text" placeholder="First Name" value= "{{ userToAdd.first_name }}">
				<span class="formBar"></span>
				<label for="firstName">First Name</label>
			</div>
			<div class="check-input check-input-hidden">Please enter your first name</div>


			<div class="formInput">
				<input class="formControl" id="lastName" type="text" name="last_name" placeholder="Last Name" value="{{ userToAdd.last_name }}">
				<span class="formBar"></span>
				<label for="lastName">Last Name</label>
			</div>
			<div class="check-input check-input-hidden">Please enter your last name</div>


			<div class="formInput">
				<input class="formControl" id="username" type="text" name="username" placeholder="Username" value="{{ userToAdd.username }}">
				<span class="formBar"></span>
				<label for="username">Username</label>
			</div>
			<div class="check-input check-input-hidden">Please enter your username</div>

			<div class="formInput">
				<input class="formControl" id="email" type="email" name="email" placeholder="Email Adress" value="{{ userToAdd.email }}">
				<span class="formBar"></span>
				<label for="email">Email Adress</label>
			</div>
			<div class="validEmail"></div>

			<div class="formInput">
				<input class="formControl" id="newPassword" type="password" name="password" placeholder="Password">
				<span class="formBar"></span>
				<label for="password">Password</label>
			</div>

			<div class="formInput">
				<input class="formControl" id="retypeNewPassword" type="password" name="retypePassword" placeholder="Retype Password">
				<span class="formBar"></span>
				<label for="retypePassword">Retype Password</label>
			</div>
			<div class="passwordsStatus"></div>

			<div class="imageAlignment">
				<img class="profile-image" src="http://placehold.it/100x100" alt="Intern avatar" id="output">
			</div>
			<div class="buttonAlign">
				<input type="file" accept="image/*" name="profile_image" id="buttonAddImage">
			</div>

			<button type="submit" id="buttonSubmitMentor" class="buttonSubmitUser button button-blue" >Submit </button>

		</form>

	</div>

	<!--Footer-->
	{% include 'partial-templates/footer.tmpl' %}
</body>

</html>