<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" href="{{ path }}/css/normalize.css" />
	<link rel="stylesheet" href="{{ path }}/css/dashboard.css" />
	<link rel="stylesheet" href="{{ path }}/css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src ="{{ path }}/js/signin.js"></script>
	<script type="text/javascript" src="{{ path }}/js/popup.js"></script>
	<script src="https://tinymce.cachefly.net/4.2/tinymce.min.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--Templates-->
	<meta charset="UTF-8">
	<title>Create Course</title>
</head>

<body>

	<!--pagina curenta-->
	<div class="current-page">
		{{ currentPage }}
	</div>

	<!--Sidebar-->
	<div class="side-navigation">
		{% include 'partial-templates/sidebar.tmpl' %}
	</div>

	<!--Content-->
	<div class="topAccount">
		{% include 'partial-templates/top-account-section.tmpl' %}
	</div>

	{% if errorMessage != ''%}
		<div class="errorMessage">
			{{ errorMessage|nl2br }}
		</div>
	{% endif %}

	{% if successMessage != '' %}
		<div class="successMessage">
			{{ successMessage|nl2br }}
		</div>
	{% endif %}

	<!--Container-->
	<div class="create-menu">
		<ul class="navigation-course tab-links">
			<li class="active list-editor"><a id="tab1-click" class="half"><i class="fa fa-lock"></i><b class="decoration">Course</b></a></li>
			<li class="inactive list-editor"><a id="tab2-click" class="half-inactive"><i class="fa fa-credit-card"></i><b class="decoration-inactive">Exercises</b></a></li>
			<br style="clear:both">
		</ul>

		<div class="tab-content">

		{% if page == 'edit' %}
		<form id="tab1" class="tab active" method="POST" action ="{{ path }}/controllers/edit-a-course.php">
		<input type="hidden" name="course_id" value="{{ course.id }}">
		{% else %}
		
		<form id="tab1" class="tab active" method="POST" action ="{{ path }}/controllers/create-a-course.php">
		{% set step = 2 %}
		{% endif %} 
			<input type="hidden" value="{{ step }}" id="step">
			<div>
				<div class="formInput">
					<input class="formControl input-left" id="add-course-name" type="text" name="title" value="{{ course.title }}">
					<span class="formBar"></span>
					<label for="add-course-name">Title</label>
				</div>
				<div class="description-create-course">
					<b class="label-name">Labels</b><br>
					<div class="course-label-container">
						<input type="checkbox" name="label[]" value="Frontend" id="frontend" 
						{% if course.label == 'Frontend' or (course.label == 'Frontend, Backend') %}
							checked 
						{% endif %}
						>
						<label for="frontend">Frontend</label>
						<input type="checkbox" name="label[]" value="Backend" id="backend" 
						{% if (course.label == 'Backend') or (course.label == 'Frontend, Backend') %}
							checked 
						{% endif %}
						>
						<label for="backend">Backend</label>
					</div>
				</div>
				<div class="description-create-course ">
					<b class="label-name">Presented By</b><br>

					<div class="course-label-container">
						{% for user in mentor %}
						<input type="checkbox" name="mentor[]" value="{{ user.id }}" id="{{ user.id }}"
						{% for courseMentor in courseMentors %}
							{% if user.id == courseMentor.id %}
								checked
							{% endif %}
						{% endfor %}
						>
						<label for="{{ user.id }}">{{ user.last_name }} {{ user.first_name}}</label>
						{% endfor %}
					</div>
				</div>
				<div class="description-create-course">
					<b class="label-name">Description</b><br>
					<textarea name="textareas" class="mceEditor">{{ course.description }}</textarea>
				</div>
				<button type="submit" id="buttonSaveCourse" class="button-save-course float-right" > Save </button>
				<a href="{{ path }}dashboard.php" class="float-right button-cancel links-a">Cancel</a>
				<div class="clearfix"></div>
			</div>
		</form>

		{% if page == 'edit' %}
			<form id="tab2" class="tab" method="POST" action ="{{ path }}controllers/create-exercise.php">
			<input type="hidden" name="course_id" value="{{ course.id }}">
		{% else %}
			<form id="tab2" class="tab" method="POST" action ="{{ path }}controllers/edit-exercise.php">
		{% endif %}
			<div class="append-exercise">
				<h4 class="exercise-number"><span class="exerciseNumberContainer"></span> Exercises</h4>
				<a id="buttonAddExercise" class="button-save-exercise" > Add exercise </a>
				<div class="clearfix"></div>
				{% if exerciseStatus == 1 %}
					{% for exercise in exercises %}
					<input type="hidden" name="exercise_id[]" value = {{ exercise.id }}>
					<div class="exercise-container">
						<span class="inline">
							{{ exercise.description|raw }}
						</span>
						<div class="float-right">
							<a class="buttonEdit"><i class="fa fa-pencil"></i></a>
							<button class="buttonDelete" value="{{ exercise.id }}"><i class="fa fa-times"></i></button>
						</div>
						<div class="clearfix"></div>
						<div class="description-create-course create-exercise">
						<textarea name="exerciseContent[]" class="mceEditor">{{ exercise.description|raw }}</textarea>
						</div>
					</div>
					{% endfor %}
				{% else %}

					<div class="exercise-container">
					<div class="description-create-course create-exercise">
						<textarea name="exerciseContent[]" class="mceEditor"></textarea>
						<div class="clearfix"></div>
					</div>
				{% endif %}
				<button id="buttonSaveExercise" class="button-save-course float-left" > Save </button>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>

		</form>

		</div>


	</div>

	<!--Footer-->
	<div class="footer">
		{% include 'partial-templates/footer.tmpl' %}
	</div>

	<div class="modal-container">
		<div class="remodal">
			<button type="reset" class="remodal-cancel button-x float-right">X</button>
			<h1>Delete Exercise</h1>
			<p>
				Are you sure you want to delete this exercise?
			</p>
			<br>
			<form action="{{ path }}controllers/delete-exercise.php" method="POST">
				<button class="remodal-confirm remodal-button" name="delete_course">Yes</button>
				<button type="reset" class="remodal-cancel remodal-button">Cancel</button>
			</form>
		</div>
	</div>

	<script type="text/javascript" src ="../js/tab.js"></script>

	<script type="text/javascript">
		;(function($) {
			$(function() {
				$('.buttonDelete').bind('click', function(e) {
					e.preventDefault();
					$idTest = $(this).attr('value');
					$('.modal-container').bPopup({
						closeClass: 'remodal-cancel',
						modalClose: true
					});
					$('.remodal-confirm').attr('value', $idTest);
				});

				$('.remodal-confirm').on('click', function() {
					$(this).submit();
				});
			});
		})(jQuery);
	</script>
</body>

</html>