<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" href="../css/dashboard.css" />
	<link rel="stylesheet" href="../css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src ="../js/sidebar.js"></script>
	<script src="https://tinymce.cachefly.net/4.2/tinymce.min.js"></script>
	<script>tinymce.init({selector:'textarea'});</script>
	<script type="text/javascript" src ="../js/tab.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--Templates-->
	<meta charset="UTF-8">
</head>

<body>

	<!--Sidebar-->
	<div class="side-navigation">
		{% include 'partial-templates/sidebar.tmpl' %}
	</div>

	<!--Content-->
	<div class="topAccount">
		{% include 'partial-templates/top-account-section.tmpl' %}
	</div>

	<div class="errorMessage"> {{ errorMessage }} </div>

	<!--Container-->
	<div class="create-menu">

		<ul class="navigation-course tab-links">
			<li class="active"><a href="#tab1" class="half"><i class="fa fa-lock"></i><b class="decoration">Course</b></a></li>
			<li><a href= "#tab2" class="half-inactive"><i class="fa fa-credit-card"></i><b class="decoration-inactive">Exercises</b></a></li>
			<br style="clear:both">
		</ul>

		<div class="tab-content">

		<form method="POST" action ="../controllers/create-a-course.php">

			<div id="tab1" class="tab active">
				<div class="formInput">
					<input class="formControl" id="add-course-name" type="tex" name="title" value="{{ titleValue }}">
					<span class="formBar"></span>
					<label for="add-course-name">Title</label>
				</div>
				<div class="description-create-course">
					<b class="label-name">Label</b><br>
					<div class="course-label-container">
						<input type="radio" name="label" value="Frontend" id="frontend">
						<label for="frontend">Frontend</label>
						<input type="radio" name="label" value="Backend" id="backend">
						<label for="backend">Backend</label>
					</div>
				</div>
				<div class="description-create-course ">
					<b class="label-name">Presented By</b><br>

					<div class="course-label-container">
						{% for user in mentor %}
						<input type="checkbox" name="mentor[]" value="{{ user.id }}" id="{{ user.id }}">
						<label for="{{ user.id }}">{{ user.last_name }}</label>
						{% endfor %}
					</div>
				</div>
				<div class="description-create-course">
					<b class="label-name">Description</b><br>
					<textarea name="textareas" class="mceEditor">{{ descriptionValue }}</textarea>
				</div>
				<button type="submit" id="buttonSaveCourse" class="button-save-course" > Save </button>
			</div>

			<div id="tab2" class="tab">
				<h4 class="exercise-number">x Exercises</h4>
				<button type="submit" id="buttonSaveCourse" class="button-save-exercise" > Add exercise </button>
				<div class="exercise-name-holder">
				<i class="fa fa-align-justify"></i>
				<div class="formInput form-placement">
					<input class="formControl" id="add-exercise-name" type="tex" name="exercise-name">
					<span class="formBar"></span>
					<label for="add-exercise-name">Title</label>
				</div>
					<div class="button-placement">
						<button class="buttonEdit"><i class="fa fa-pencil"></i></button>
						<button class="buttonDelete"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="description-create-course">
					<textarea name="content"></textarea>
				</div>
				<a href="create-course.php" id="buttonSaveCourse" class="button-save-course" > Save </a>
			</div>

			<div class="clearfix"></div>

		</form>

		</div>

	</div>

	<!--Footer-->
	<div class="footer">
		{% include 'partial-templates/footer.tmpl' %}
	</div>

	<script type="text/javascript">
		tinymce.init({
			selector: "textarea",
			plugins: [
				"advlist autolink lists link image charmap print preview anchor",
				"searchreplace visualblocks code fullscreen",
				"insertdatetime media table contextmenu paste"
			],
			toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
		});
</script>
</body>

</html>