<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" href="css/dashboard.css" />
	<link rel="stylesheet" href="css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/signin.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--Templates-->
	<meta charset="UTF-8">
	<title>Create Mentor</title>
</head>

<body>

	<!--Sidebar-->
	<div class="side-navigation">
		{% include 'partial-templates/sidebar.tmpl' %}
	</div>

	<!--Content-->
	<div class="topAccount">
		{% include 'partial-templates/top-account-section.tmpl' %}
	</div>


	<div class="containerForm">

		<h1 class="mainHeaderDashboard">Create Mentor</h1>

		<div class="errorMessage">
			{{ errorMessage | nl2br}}
		</div>

		<div class="successMessage">
			{{ successMessage }}
		</div>

		<form method="POST" action="controllers/create-user.php" enctype="multipart/form-data" class="createUserForm">
			<div class="formInput">
				<input class="formControl" id="firstName" name="first_name" type="text" placeholder="First Name">
				<span class="formBar"></span>
				<label for="firstName">First Name</label>
			</div>
			<div class="check-input check-input-hidden">Please enter your first name</div>

			<div class="formInput">
				<input class="formControl" id="lastName" type="text" name="last_name" placeholder="Last Name">
				<span class="formBar"></span>
				<label for="lastName">Last Name</label>
			</div>
			<div class="check-input check-input-hidden">Please enter your last name</div>

			<div class="formInput">
				<input class="formControl" id="username" type="text" name="username" placeholder="Username">
				<span class="formBar"></span>
				<label for="username">Username</label>
			</div>
			<div class="check-input check-input-hidden">Please enter your username</div>

			<div class="formInput">
				<input class="formControl" id="email" type="email" name="email" placeholder="Email Adress">
				<span class="formBar"></span>
				<label for="email">Email Adress</label>
			</div>
			<div class="validEmail"></div>

			<div class="formInput">
				<input class="formControl" id="newPassword" type="password" name="password" placeholder="Password">
				<span class="formBar"></span>
				<label for="newPassword">Password</label>
			</div>

			<div class="formInput">
				<input class="formControl" id="retypeNewPassword" type="password" name="retypePassword" placeholder="Retype Password">
				<span class="formBar"></span>
				<label for="retypeNewPassword">Retype Password</label>
			</div>
			<div class="passwordsStatus"></div>

			<div class="imageAlignment">
				<img class="profile-image" src="http://placehold.it/100x100" alt="Mentor avatar" id="output">
			</div>
			<div class="buttonAlign">
				<input class="button-add-form" type="file" accept="image/*" name="profile_image" id="buttonAddImage" onchange="loadFile(event)">
			</div>

			<button type="submit" id="buttonSubmitMentor" class="buttonSubmitUser" >Submit </button>

		</form>

	</div>

	<!--Footer-->
	<div class="footer">
		{% include 'partial-templates/footer.tmpl' %}
	</div>
	<script>
		var loadFile = function(event) {
			var reader = new FileReader();
			reader.onload = function(){
				var output = document.getElementById('output');
				output.src = reader.result;
			};
			reader.readAsDataURL(event.target.files[0]);
		};
	</script>

</body>

</html>