<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" href="css/dashboard.css" />
	<link rel="stylesheet" href="css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/sidebar.js"></script>
	<script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--Templates-->
	<meta charset="UTF-8">
</head>

<body>

	<!--Sidebar-->
	<div class="side-navigation">
	{% if user_role == 1 %}
		{% include 'sidebar.tmpl' %}
	{% endif %}

	{% if user_role == 2 %}
		{% include 'mentorSidebar.tmpl' %}
	{% endif %}

	{% if user_role == 3 %}
		{% include 'internSidebar.tmpl' %}
	{% endif %}
	</div>

	<!--Content-->
	<div class="topAccount">
		{% if user_role == 1 %}
			{% include 'topAccountSection.tmpl' %}
		{% endif %}

		{% if user_role == 2 %}
			{% include 'topAccountSectionMentor.tmpl' %}
		{% endif %}

		{% if user_role == 3 %}
			{% include 'topAccountSectionIntern.tmpl' %}
		{% endif %}
	</div>

	<!--Mentor and Intern List-->
	{% if user_role == 1 %}
		{% include 'adminContent.tmpl' %}
	{% endif %}

	{% if user_role == 2 %}
		{% include 'mentorContent.tmpl' %}
	{% endif %}

	{% if user_role == 3 %}
		{% include 'internContent.tmpl' %}
	{% endif %}

	<!--Footer-->
	<div class="footer">
		{% include 'footer.tmpl' %}
	</div>

</body>

</html>