<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" href="css/dashboard.css" />
	<link rel="stylesheet" href="css/default.css" />

	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="css/popup.js"></script>
	<script type="text/javascript" src ="js/sidebar.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--Templates-->
	<meta charset="UTF-8">
</head>

<body>

	<!--Sidebar-->
	<div class="side-navigation">
		{% include 'sidebar.tmpl' %}
	</div>

	<!--Content-->
	<div class="topAccount">
		{% include 'topAccountSection.tmpl' %}
	</div>

	<!--Mentor and Intern List-->
	{% if user_role == 1 %}
		{% include 'adminContent.tmpl' %}
	{% endif %}

	{% if user_role == 2 %}
		{% include 'mentorContent.tmpl' %}
	{% endif %}

	{% if user_role == 3 %}
		{% include 'internContent.tmpl' %}
	{% endif %}

	<!--Footer-->
	<div class="footer">
		{% include 'footer.tmpl' %}
	</div>

	<div class="remodal-bg">
		<div class="remodal" data-remodal-id="modal">
			<button data-remodal-action="close" class="remodal-close"></button>
			<h1>Delete Mentor</h1>
			<p>
				Are you sure you want to delete this user?
			</p>
			<br>
			<button  class="remodal-cancel">Cancel</button>
			<button  class="remodal-confirm" onclick="check()">OK</button>
		</div>
	</div>

</body>

</html>