<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" href="css/dashboard.css" />
	<link rel="stylesheet" href="css/default.css" />
	<!--Scripts-->
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--Templates-->
	<meta charset="UTF-8">
</head>

<body>

	<!--Sidebar-->
	<div class="side-navigation">
		{% include 'sidebar.tmpl' %}
	</div>

	<!--Content-->
	<div class="topAccount">
		{% include 'topAccountSection.tmpl' %}
	</div>

	<div class="mentorList">

		<div class="alignment">
			<h2 class="category">Mentors</h2>
			<h4 class="list">List of mentors</h4>
		</div>

		<div class="buttonAlignment">
			<a href="createMentor.php"><button id="buttonNewMentor" class="buttonMentor"><i class="fa fa-plus"></i >New Mentor</button></a>
		</div>

		<div class="existingMentor">

		<div class="alignment">
				<h3 class="newUserName">First Name Last Name</h3>
				<h5 class="emailAddress">email</h5>
		</div>

		<div class="buttonAlignment">
			<button class="buttonDelete"><i class="fa fa-times"></i></button>
		</div>

		</div>

	</div>

	<div class="internList">

		<div class="alignment">
			<h2 class="category">Interns</h2>
			<h4 class="list">List of interns</h4>
		</div>

		<div class="buttonAlignment">
			<a href="createIntern.php"><button id="buttonNewIntern" class="buttonIntern"><i class="fa fa-plus"></i>New Intern</button></a>
		</div>

		<div class="existingIntern">

		<div class="alignment">
				<h3 class="newUserName">First Name Last Name</h3>
				<h5 class="emailAddress">email</h5>
		</div>

		<div class="buttonAlignment">
			<button class="buttonDelete"><i class="fa fa-times"></i></button>
		</div>

		</div>

	</div>

	<!--Footer-->
	<div class="footer">
		{% include 'footer.tmpl' %}
	</div>

</body>

</html>