<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" href="{{ path }}css/dashboard.css" />
	<link rel="stylesheet" href="{{ path }}css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src ="{{ path }}js/app.js"></script>
	<script src="https://tinymce.cachefly.net/4.2/tinymce.min.js"></script>
	<script type="text/javascript" src ="{{ path }}js/tab.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--Favicon-->
	<link rel='shortcut icon' type='image/x-icon' href='{{ path }}images/favicon.ico' />
	<!--Templates-->
	<meta charset="UTF-8">
	<title> Details for Course </title>
</head>

<body>

	<!--pagina curenta-->
	<div class="current-page">
		{{ currentPage }}
	</div>

	<!--Sidebar-->
	<div class="side-navigation">
		{% include 'partial-templates/sidebar.tmpl' %}
	</div>

	<!--Content-->
	<div class="topAccount">
		{% include 'partial-templates/top-account-section.tmpl' %}
	</div>
	{% if successMessage != ""%}
		<div class="successMessageLogin message successMessageExercise">
			{{ successMessage }}
			<a href="#"><i class="fa fa-times success-error-icon"></i></a>
		</div>
	{% endif %}

	<!--Container-->

	<div class="courseList">

		<div class="course-details">
			<div class="course-details-name">
			<div class="alignment">
				<h3 class="newUserName reset">{{ course.title }}</h3>
			</div>
			<div class="message-info-align">
				<a class="link float-right" href="{{ path }}dashboard.php"><i class="fa fa-angle-double-left"></i> Go Back </a>
			</div>
			</div>
			<div class="course-details-name">
				{% for label in course.label %}
					<span class="labelGrey alignment">{{ label }}</span>
				{% endfor %}
			</div>
			<div class="course-details-content">
				<span class="courseDetail alignment spacing">{{ course.description |raw }}</span>
			</div>

		{% if errorMessage != ""%}
			<div class="errorMessage">
				{{ errorMessage }}
			</div>
		{% endif %}
	<!--Add exercise-->
		{% if exercisesMessage != ""%}
			<div class="otherMessage">
				{{ exercisesMessage }}
			</div>
		{% else %}
			{% set number = 0 %}
			{% for exercise in course.exercises %}
				{% set number = number +1 %}
				
				{% if exercise.solution == ''%}
					{% set ok = 0 %}
				<div class="existingCourse container-box-shadow">
				{% else %}
					{% set ok = 1 %}
				<div class="existingCourse-answer container-box-shadow">
				{% endif %}

					<div class="exercise-details submitted">
						<div class="course-exercise-name">
						<div class="alignment user-margin">
							{% if user_role == 3 and ok == 1 and solutionStatus == 1 %}
							<i class="fa fa-hourglass-half"></i>
							{% elseif solutionStatus == 2 %}
							<!--iconita daca e corect-->
							<i class="fa fa-check fa-lg"></i>
							{% elseif solutionStatus == 3 %}
							<!--iconita daca e incorect-->
							<i class="fa fa-times fa-lg"></i>
							{% endif %}
							<h3 class="newUserName display reset"><a href="" class="links-a">Exercise {{ number }}</a></h3>
						</div>
							{% if user_role == 3 %}
							<div class="buttonAlignment">
								<a href="" class="buttonOpen button-solution open-solution-content links-a">Open</a>
							</div>
							<div class="buttonAlignment">
								<a href="" class="button-solution feedback-button links-a">See Feedback</a>
							</div>
							{% endif %}
						</div>
						<div class="course-exercise-content">
							<h3 class="newUserName inline user-margin reset">{{ exercise.description | raw }}
							</h3>
						</div>
						<div class="submitted-exercise-container">
							{% if ok == 1 %}
								<div class="alignment">
									<h3 class="newUserName inline reset">{{ exercise.solution.description | raw}}</h3>
									<a href="" class="buttonEdit button-small edit-solution float-right links-a"><i class="fa fa-pencil"></i></a>
								</div>
									<form action="{{ path }}controllers/edit-solution.php" method="POST">
									<input type="hidden" name="course_id" value="{{ course.id }}">
									<input type="hidden" name="solution.id" value="{{ exercise.solution.id }}">
										<div class="edit-solution-container">
											<textarea name="exerciseContent" class="mceEditor">{{ exercise.solution.description | raw }}</textarea>
											<button type="submit"  id="buttonSaveExercise" class="button button-blue button-save-course float-left" > Update </button>
											<div class="clearfix"></div>
										</div>
									</form>
							{% else %}
									<form action="{{ path }}controllers/create-solution.php" method="POST">
									<input type="hidden" name="course_id" value="{{ course.id }}">
									<input type="hidden" name="exercise.id" value="{{ exercise.id }}">
									<div class="description-create-course">
										<textarea name="exerciseContent" class="mceEditor"></textarea>
										<div class="clearfix"></div>
									</div>
									<button type="submit" id="buttonSaveExercise" class="button button-blue button-save-course float-left" > Submit </button>
									</form>
							{% endif %}
						</div>
						{% if user_role == 3 %}
						<section class="feedback-container">
							{% if feedback != NULL %}
							<p>{{ feedback | raw }}</p>
							{% else %}
							No feedback was given by the mentor
							{% endif %}
						</section>
						{% endif %}
					</div>
					<div class="clearfix"></div>
				</div>
			{% endfor %}
		{% endif %}
		<h4 class="courseUserName">
		</h4>
		</div>
	</div>
	</div>


		<!--Footer-->
		{% include 'partial-templates/footer.tmpl' %}
	</body>
</html>
