<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" href="{{ path }}css/dashboard.css" />
	<link rel="stylesheet" href="{{ path }}css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src ="{{ path }}js/signin.js"></script>
	<script src="https://tinymce.cachefly.net/4.2/tinymce.min.js"></script>
	<script>tinymce.init({selector:'textarea'});</script>
	<script type="text/javascript" src ="{{ path }}js/tab.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--Templates-->
	<meta charset="UTF-8">
</head>

<body>

		<!--Sidebar-->
	<div class="side-navigation">
		{% include 'partial-templates/sidebar.tmpl' %}
	</div>

	<!--Content-->
	<div class="topAccount">
		{% include 'partial-templates/top-account-section.tmpl' %}
	</div>

	<!--Container-->

	<div class="courseList">

		<div class="course-details">
			<div class="course-details-name">
			<div class="alignment">
				<h3 class="newUserName">{{ course.title }}</h3>
			</div>
			</div>
			<div class="course-details-name">
				{% for label in course.label %}
					<span class="labelGrey alignment">{{ label }}</span>
				{% endfor %}
			</div>
			<div class="course-details-content">
				<span class="courseDetail alignment">{{ course.description |raw }}</span>
			</div>

	<!--Add exercise-->
		{% if exercisesMessage != ""%}
			<div class="otherMessage">
				{{ exercisesMessage }}
			</div>
		{% else %}
			{% set number = 0 %}
			{% for exercise in course.exercises %}
				{% set number = number +1 %}
				{% if exercise.solution == ''%}
					{% set ok = 0 %}
				<div class="existingCourse">
				{% else %}
					{% set ok = 1 %}
				<div class="existingCourse-answer">
				{% endif %}
					<div class="exercise-details submitted">
						<div class="course-exercise-name">
						<div class="alignment">
							{% if user_role == 3 and ok == 1 %}
							<i class="fa fa-check"></i>
							{% endif %}
							<h3 class="newUserName display"><a href="">Exercise {{ number }}</a></h3>
						</div>
						{% if user_role == 2 %}
						<div class="buttonAlignment">
							<a href="" class="buttonEdit edit-exercise"><i class="fa fa-pencil"></i></a>
							<a href="" class="buttonDelete"><i class="fa fa-times"></i></a>
						</div>
						{% endif %}
						{% if user_role == 3 and ok == 1 %}
							<div class="buttonAlignment">
								<a href="" class="buttonOpen">Open</a>
							</div>
						{% endif %}
						</div>
						<div class="course-exercise-content">
							<span class="courseDetail alignment">{{ exercise.description | raw }}</span>
						</div>
						<div class="edit-exercise-container">
							{% if user_role == 2 %}
								<textarea name="exerciseContent[]" class="mceEditor">{{ exercise.description | raw }}</textarea>
								<div class="clearfix"></div>
								<button id="buttonSaveExercise" class="button-save-course float-left" > Update </button>
							{% else %}
								{% if ok == 1 %}
								<div class="alignment">
									<h3 class="newUserName">{{ exercise.solution.description | raw}}</h3>
									<div class="create-exercise-container">
										<div class="buttonAlignment">
											<a href="" class="buttonEdit edit-exercise"><i class="fa fa-pencil"></i></a>
										</div>
										<textarea name="exerciseContent[]" class="mceEditor">{{ exercise.solution.description | raw }}</textarea>
										<div class="clearfix"></div>
									<button id="buttonSaveExercise" class="button-save-course float-left" > Update </button>
									</div>
								{% else %}
									<div class="description-create-course create-exercise">
										<textarea name="exerciseContent[]" class="mceEditor"></textarea>
										<div class="clearfix"></div>
									</div>
									<button id="buttonSaveExercise" class="button-save-course float-left" > Submit </button>
									<div class="clearfix"></div>
									</div>
								{% endif %}
							{% endif %}
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			{% endfor %}
		{% endif %}
		<h4 class="courseUserName">
		</h4>
		</div>
	</div>
	<a class="show-more-info message-info-align" href="{{ path }}dashboard.php"> Go Back </a>




		<!--Footer-->
	<div class="footer">
		{% include 'partial-templates/footer.tmpl' %}
	</div>

	</body>
</html>
