<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" href="{{ path }}css/dashboard.css" />
	<link rel="stylesheet" href="{{ path }}css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src ="{{ path }}js/signin.js"></script>
	<script src="https://tinymce.cachefly.net/4.2/tinymce.min.js"></script>
	<script>tinymce.init({selector:'textarea'});</script>
	<script type="text/javascript" src ="{{ path }}js/tab.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--Templates-->
	<meta charset="UTF-8">
</head>

<body>

		<!--Sidebar-->
	<div class="side-navigation">
		{% include 'partial-templates/sidebar.tmpl' %}
	</div>

	<!--Content-->
	<div class="topAccount">
		{% include 'partial-templates/top-account-section.tmpl' %}
	</div>

	<!--Container-->

	<div class="courseList">

		<div class="course-details">
			<div class="course-details-name">
			<div class="alignment">
				<h3 class="newUserName">{{ course.title }}</h3>
			</div>
			</div>
			<div class="course-details-name">
				<span class="labelGrey alignment">{{ course.label }}</span>
			</div>
			<div class="course-details-content">
				<span class="courseDetail alignment">{{ course.description |raw }}</span>
			</div>

	<!--Add exercise-->
		{% if exercisesMessage != ""%}
			<div class="otherMessage">
				{{ exercisesMessage }}
			</div>
		{% else %}
			{% set number = 0 %}
			{% for exercise in course.exercises %}
				{% set number = number +1 %}
				<div class="existingCourse">
					<div class="exercise-details submitted">
						<div class="course-exercise-name">
						<div class="alignment">
							<h3 class="newUserName"><a href="">Exercise {{ number }}</a></h3>
						</div>
						{% if user_role == 2 %}
						<div class="buttonAlignment">
							<a href="" class="buttonEdit"><i class="fa fa-pencil"></i></a>
							<a href="" class="buttonDelete"><i class="fa fa-times"></i></a>
						</div>
						{% endif %}
						{% if user_role == 3 %}
							<div class="buttonAlignment">
								<a href="" class="buttonOpen">Open</a>
							</div>
						{% endif %}
						</div>
						<div class="course-exercise-content">
							<span class="courseDetail alignment">{{ exercise.description |raw }}</span>
						</div>
					</div>
					<div class="create-exercise-container">
						<div class="description-create-course create-exercise">
							<textarea name="exerciseContent[]" class="mceEditor"></textarea>
							<div class="clearfix"></div>
						</div>
					</div>
				<button id="buttonSaveExercise" class="button-save-course float-left" > Submit </button>
				<button id="buttonSaveExercise" class="button-save-course float-left" > Update </button>
				<div class="clearfix"></div>
			</div>

			<div class="existingCourse-answer">
				<div class="exercise-details submitted">
					<div class="course-exercise-name">
						<div class="alignment">
							<i class="fa fa-check"></i>
							<h3 class="newUserName display"><a href="">Exercise {{ number }}</a></h3>
						</div>
						{% if user_role == 2 %}
						<div class="buttonAlignment">
							<a href="" class="buttonEdit"><i class="fa fa-pencil"></i></a>
							<a href="" class="buttonDelete"><i class="fa fa-times"></i></a>
						</div>
						{% endif %}
						{% if user_role == 3 %}
							<div class="buttonAlignment">
								<a href="" class="buttonOpen">Open</a>
							</div>
						{% endif %}
					</div>
						<div class="course-exercise-content">
							<span class="courseDetail alignment">{{ exercise.description |raw }}</span>
						</div>
					</div>
					<div class="create-exercise-container">
						<div class="alignment">
							<h3 class="newUserName"><a href="">My answer</a></h3>
						</div>
						<div class="buttonAlignment">
							<a href="" class="buttonEdit"><i class="fa fa-pencil"></i></a>
						</div>
					</div>
					{% if exercise.solution != ''%}
						<div>
							{{ exercise.solution.description | raw }}
						</div>
					{% endif %}
				</div>
				<button id="buttonSaveExercise" class="button-save-course float-left" > Submit </button>
				<button id="buttonSaveExercise" class="button-save-course float-left" > Update </button>
				<div class="clearfix"></div>
			{% endfor %}
		{% endif %}
		<a class="show-more-info" href="{{ path }}dashboard.php"> Go Back </a>
		<h4 class="courseUserName">
		</h4>
		</div>

	</div>



		<!--Footer-->
	<div class="footer">
		{% include 'partial-templates/footer.tmpl' %}
	</div>

	</body>
</html>
