	<div class="courseList">

		<div class="alignment">
			<h2 class="category">All</h2>
		</div>

		<div class="existingCourse">
			<div class="courseName">
			<div class="alignment">
					<h3 class="newUserName">General</h3>
			</div>
			</div>
			<div class="courseName">
				<span class="labelGrey alignment">Backend</span>
			</div>
			<div class="courseContent">
				<span class="courseDetail alignment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
			</div>
			<h4 class="courseUserName">Presented by Username, Username</h4>
		</div>

		<div class="existingCourse">
			<div class="courseName">
			<div class="alignment">
					<h3 class="newUserName">General</h3>
			</div>
			</div>
			<div class="courseName">
				<span class="labelGrey alignment">Frontend</span>
			</div>
			<div class="courseContent">
				<span class="courseDetail alignment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
			</div>
			<h4 class="courseUserName">Presented by Username, Username</h4>
		</div>

	</div>