<!DOCTYPE html>
<html>

<head>

	<!--Styles-->
	<link rel="stylesheet"  href="css/default.css" />
	<link rel="stylesheet"  href="css/signIn.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/signin.js"></script>

	<!--Templates-->
	<meta charset="UTF-8">

</head>

<body>


	<!--SingIn-->

	<div class="signIn">
		<h1 class="mainHeader">Sign In</h1>

		<form method="POST" action="login.php">
			<div class="formInput">
				<input class="formControl" id="username" name="username" type="text" placeholder="Username">
				<span class="ma-form-bar"></span>
				<label for="username">Username</label>
			</div>
			<div class="formInput">
				<input class="formControl" id="password" type="password" name="password" placeholder="Enter Password">
				<span class="ma-form-bar"></span>
				<label for="password">Password</label>
			</div>
				<button id="buttonSignin" class="buttonSignIn"> Login <i class="iconParent iconLock"></i> </button>
				<a href=""  id="recoverPassword" class="recoverRequest">Recover Password</a>
			</form>

	</div>

		<!--Footer-->
		<div class="footer">
			{% include 'footer.tmpl' %}
		</div>

</body>

</html>