<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet"  href="css/default.css" />
	<link rel="stylesheet"  href="css/sign-in.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/signin.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--Templates-->
	<meta charset="UTF-8">
	<title>Login</title>
</head>

<body>

	<!--SingIn-->

	<div class="signIn">
		<h1 class="mainHeader">Sign In</h1>

		<form method="POST" action="controllers/auth.php?action=login" id="signInForm">
			<div class="formInput">
				<input style="display:none" type="text" name="fakeusernameremembered"/>
				<input class="formControl" id="username" name="username" type="text" placeholder="Username" autocomplete="off">
				<span class="formBar"></span>
				<label for="username">Username</label>
			</div>
			<div class="formInput">

				<input style="display:none" type="password" name="fakeusernameremembered"/>
				<input class="formControl" id="password" type="password" name="password" placeholder="Enter Password" autocomplete="off">
				<span class="formBar"></span>
				<label for="password">Password</label>
			</div>

			{% if errorMessage != ''%}
				<div class="errorMessage">
					{{ errorMessage|nl2br }}
				</div>
			{% endif %}

			{% if successMessage != ''%}
			<div class="successMessage">
				{{ successMessage }}
			</div>
			{% endif %}
			
			<button type="submit" id="buttonSignin" class="buttonSignIn" > Login <i class="iconParent iconLock"></i> </button>
			<a href="http://127.0.0.1/e-spres-oh-internship/users/recover-password.php"  id="recoverPassword" class="recoverRequest">Recover Password</a>
		</form>

	</div>

		<!--Footer-->
		<div class="footer">
			{% include 'partial-templates/footer.tmpl' %}
		</div>

</body>

</html>