	<div class="topProfile">
		<h4 class="topLogo"> [e-spres-oh] Internship </h4>
	</div>
	<div class="userAvatar">
		<i class=" iconParent iconProfileUser"></i>
		<h3 class="userName"> {{ last_name }} </h3>
	</div>

	<nav>
		<ul>
		<li class="dropDown">
			<a href='#'>
				<i class=" iconParent iconGraduation"></i> Courses 
				<i class=" iconParent iconPlusMore"></i>
			</a>
			<ul class="subNav">
				<li><a href='#'>All</a></li>
				<li><a href='#'>Frontend</a></li>
				<li><a href='#'>Backend</a></li>
			</ul>
		</li>
		<li>
			<a href='#'>
				<i class=" iconParent iconPlus"></i> Create Course 
			</a>
		</li>
		<li>
			<a href='#'><i class=" iconParent iconText">
				</i>Submitted Exercises<i class=" iconParent iconPlusMore"></i>
			</a>
		</li>
		</ul>
	</nav>