<!DOCTYPE html>
<html>
<head>
	<!--Styles-->
	<link rel="stylesheet" href="{{ path }}css/dashboard.css" />
	<link rel="stylesheet" href="{{ path }}css/default.css" />
	<link rel="stylesheet" href="{{ path }}css/normalize.css" />

	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{ path }}js/popup.js"></script>
	<script type="text/javascript" src="{{ path }}js/app.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--Favicon-->
	<link rel='shortcut icon' type='image/x-icon' href='{{ path }}/images/favicon.ico' />
	<!--Font Awesome-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--Templates-->
	<meta charset="UTF-8">
	<title>Pending Requests</title>
</head>

<body>

	<!--pagina curenta-->
	<div class="current-page">
		{{ currentPage }}
	</div>

	<!--Sidebar-->
	<div class="side-navigation">
		{% include 'partial-templates/sidebar.tmpl' %}
	</div>
	<!--Content-->
	<div class="topAccount">
		{% include 'partial-templates/top-account-section.tmpl' %}
	</div>


	{% if errorMessage != '' %}
		<div class="errorMessageContainer message message-align">
			{{ errorMessage }}
			<a href="#"><i class="fa fa-times success-error-icon"></i></a>
		</div>
	{% endif %}

	{% if successMessage != '' %}
		<div class="successMessage message message-align">
			{{ successMessage }}
			<a href="#"><i class="fa fa-times success-error-icon"></i></a>
		</div>
	{% endif %}

	<h1 class="reset pending-title">Pending Requests</h1>
	<section class="pending-container container-box-shadow">
			{% if noRequests != '' %}
			<div class="noUserMessage">
				{{ noRequests }}
			</div>
			{% endif %}
		{% for users in pendingUsers %}
		<div class="pending-user reset">
			<div class="float-left">
				<h2 class="reset">{{ users.first_name }} {{ users.last_name }}</h2>
				<h3 class="reset">{{ users.email }}</h3>
			</div>
			<section class="float-right">
				<a href="#" class="button button-cancel links-a buttonDelete inline" name="delete_button" value="{{ users.google_id }}">Delete Request</a>
				<a href="#" class="button button-blue inline accept">Accept Request</a>
			</section>
			<div class="clearfix"></div>
			<section class="select-role-wrapper">
				<div class="wrapper">
					<p>Select a role for this user:</p>
					<form action="{{ path }}controllers/accept-request-mentor.php" method="POST" class="inline">
						<button class="button button-blue inline" value="{{ users.google_id }}" name="accept_button"><i class="fa fa-street-view"></i>Mentor</button>
					</form>
					<form action="{{ path }}controllers/accept-request-intern.php" method="POST" class="inline">
						<button class="button button-blue inline" value="{{ users.google_id }}" name="accept_button"><i class="fa fa-street-view"></i>Intern</button>
					</form>
				</div>
			</section>
		</div>
		{% endfor %}
	</section>

	<!--Footer-->
	<div class="footer">
		{% include 'partial-templates/footer.tmpl' %}
	</div>
	<div class="modal-container">
			<div class="remodal">
				<button type="reset" class="remodal-cancel button-x float-right">X</button>
				<h1 class="reset">Delete Request</h1>
				<p class="reset">
					Are you sure you want to delete this request?
				</p>
				<br>
				<form action="{{ path }}controllers/delete-request.php" method="POST">
					<button class="remodal-confirm remodal-button" name="delete_button">Yes</button>
					<button type="reset" class="remodal-cancel remodal-button">Cancel</button>
				</form>
			</div>
		</div>
</body>
</html>