<!DOCTYPE html>
<html>
<head>
	<!--Styles-->
	<link rel="stylesheet" href="{{ path }}css/dashboard.css" />
	<link rel="stylesheet" href="{{ path }}css/default.css" />
	<link rel="stylesheet" href="css/normalize.css" />

	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{ path }}js/popup.js"></script>
	<script type="text/javascript" src="{{ path }}js/app.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--Favicon-->
	<link rel='shortcut icon' type='image/x-icon' href='{{ path }}/images/favicon.ico' />
	<!--Font Awesome-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--Templates-->
	<meta charset="UTF-8">
	<title>Pending Requests</title>
</head>

<body>

	<!--pagina curenta-->
	<div class="current-page">
		{{ currentPage }}
	</div>

	<!--Sidebar-->
	<div class="side-navigation">
		{% include 'partial-templates/sidebar.tmpl' %}
	</div>
	<!--Content-->
	<div class="topAccount">
		{% include 'partial-templates/top-account-section.tmpl' %}
	</div>


	{% if errorMessage != ''%}
		<div class="errorMessage">
			{{ errorMessage|nl2br }}
		</div>
	{% endif %}

	{% if successMessage != ''%}
	<div class="successMessage message">
		{{ successMessage }}
	</div>
	{% endif %}

	<h1 class="reset pending-title">Pending Requests</h1>
	<section class="pending-container container-box-shadow">
			{% if noRequests != '' %}
			<div class="noUserMessage">
				{{ noRequests }}
			</div>
			{% endif %}
		{% for users in pendingUsers %}
		<div class="pending-user reset">
			<div class="float-left">
				<h2 class="reset">{{ users.google_first_name }} {{ users.google_last_name }}</h2>
				<h3 class="reset">{{ users.google_email }}</h3>
			</div>
			<section class="float-right">
				<form method="POST" action="" class="inline">
					<button class="button button-cancel links-a buttonDelete inline">Delete Request</button>
				</form>
				<a href="#" class="button button-blue inline accept">Accept Request</a>
			</section>
			<div class="clearfix"></div>
			<section class="select-role-wrapper">
				<form action="{{ path }}controllers/accept-request.php" method="POST">
					<div class="wrapper">
						<p>Select a role for this user:</p>
						<input type="radio" name="role" value="mentor" id="mentor">
						<label for="mentor">Mentor</label>
						<input type="radio" name="role" value="intern" id="intern">
						<label for="intern">Intern</label>
					</div>
					<button class="button button-blue center" name="accept_button" value="{{ users.google_id }}">Submit</button>
				</form>
			</section>
		</div>
		{% endfor %}
	</section>

	<!--Footer-->
	<div class="footer">
		{% include 'partial-templates/footer.tmpl' %}
	</div>
	<div class="modal-container">
			<div class="remodal">
				<button type="reset" class="remodal-cancel button-x float-right">X</button>
				<h1 class="reset">Delete Request</h1>
				<p class="reset">
					Are you sure you want to delete this request?
				</p>
				<br>
				<form action="controllers/delete-user.php" method="POST">
					<button class="remodal-confirm remodal-button" name="delete_button">Yes</button>
					<button type="reset" class="remodal-cancel remodal-button">Cancel</button>
				</form>
			</div>
		</div>
</body>
</html>