<!DOCTYPE html>
<html>

<head>

	<!--Styles-->
	<link rel="stylesheet" type="text/css" href="../css/signIn.css" />
	<link rel="stylesheet" type="text/css" href="../css/default.css" />
	<!--Scripts-->

	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--Templates-->
	<meta charset="UTF-8">

</head>

<body>


		<!--SingIn-->
		<div class="signIn">
			<h1 class="mainHeader">Recover Password</h1>
			<form>
				<input type="email" name="email" class="input emailInput" placeholder="Email">
			</form>
			<button id="buttonRSubmitRecover" class="buttonSignIn noPadding noBorder"> Submit <i class="iconParent iconLock"></i></button>
		</div>


</body>

</html>