<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" type="text/css" href="css/sign-in.css" />
	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/signin.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--Templates-->
	<meta charset="UTF-8">
	<title>Recover Password</title>
</head>

<body>


	<!--SingIn-->

	<div class="signIn">
	<h1 class="mainHeader">Recover Password</h1>

		<form method="POST" action="controllers/recover-user-password.php">
			<div class="formInput">
				<input class="formControl" id="email" type="email" name="email" placeholder="Email">
				<span class="formBar"></span>
				<label for="email">Email</label>
			</div>
			<div class="validEmail"></div>
			<div class="errorMessage">
				{{ errorMessage }}
			</div>
			<button type="submit" id="buttonSubmitRecover" class="buttonSignIn"> Submit <i class="iconParent iconLock"></i></button>
			<a href="login.php"  id="goBack" class="recoverRequest">Go back</a>

		</form>

		</div>

		<!--Footer-->
		<div class="footer">
			{% include 'partial-templates/footer.tmpl' %}
		</div>

</body>

</html>