<!DOCTYPE html>
<html>

<head>

	<!--Styles-->
	<link rel="stylesheet" type="text/css" href="css/signIn.css" />
	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<!--Scripts-->

	<!--Templates-->
	<meta charset="UTF-8">

</head>

<body>


	<!--SingIn-->
	<div class="signIn">
	<h1 class="mainHeader">Recover Password</h1>

		<form>
			<div class="formInput">
				<input class="formControl" id="email" type="email" placeholder="Email">
				<span class="ma-form-bar"></span>
				<label for="username">Email</label>
			</div>
				<button id="buttonSubmitRecover" class="buttonSignIn"> Submit <i class="iconParent iconLock"></i></button>
		</form>

		</div>

		<!--Footer-->
		<div class="footer">
			{% include 'footer.tmpl' %}
		</div>

</body>

</html>