<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" type="text/css" href="{{ path }}css/sign-in.css" />
	<link rel="stylesheet" type="text/css" href="{{ path }}css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{ path }}js/app.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--Favicon-->
	<link rel='shortcut icon' type='image/x-icon' href='{{ path }}/images/favicon.ico' />
	<!--Templates-->
	<meta charset="UTF-8">
	<title>Recover Password</title>
</head>

<body>

	<!--pagina curenta-->
	<div class="current-page">
		{{ currentPage }}
	</div>

	<!--SingIn-->

	<div class="signIn">
	<h1 class="mainHeader reset">Recover Password</h1>

		<form method="POST" action="{{ path }}controllers/recover-user-password.php">
			<div class="formInput">
				<input class="formControl input-center" id="email" type="email" name="email" placeholder="Email">
				<span class="formBar"></span>
				<label for="email">Email</label>
			</div>
			<div class="validEmail"></div>

			{% if errorMessage != ''%}
				<div class="errorMessage">
					{{ errorMessage|nl2br }}
				</div>
			{% endif %}
			
			<button type="submit" id="buttonSubmitRecover" class="buttonSignIn button-blue"> Submit <i class="iconParent icon-small iconLock"></i></button>
			<a href="{{ path }}login.php"  id="goBack" class="recoverRequest">Go back</a>

		</form>

		</div>

		<!--Footer-->
		<div class="footer">
			{% include 'partial-templates/footer.tmpl' %}
		</div>

</body>

</html>