<!DOCTYPE html>
<html>

<head>

	<!--Styles-->
	<link rel="stylesheet" type="text/css" href="css/signIn.css" />
	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<!--Scripts-->

	<!--Templates-->
	<meta charset="UTF-8">

</head>

<body>


		<!--SingIn-->
		<div class="signIn">
			<h1 class="mainHeader">Recover Password</h1>
			<form method="POST" action="login.php">
				<input type="email" name="email" class="input emailInput" placeholder="Email">
			</form>
			<button id="buttonSubmitRecover" class="buttonSignIn"> Submit <i class="iconParent iconLock"></i></button>
		</div>


</body>

</html>