<!DOCTYPE html>
<html>

<head>

	<!--Styles-->
	<link rel="stylesheet" type="text/css" href="css/signIn.css" />
	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="js/resetPassword.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--Templates-->
	<meta charset="UTF-8">

</head>

<body>


	<!--SingIn-->
	<div class="signIn">
	<h1 class="mainHeader">Reset Password</h1>

		<form method="POST" action="resetPassword.php">
			<div class="formInput">
				<input class="formControl" id="newPassword" type="password" placeholder="New Password" name="newPassword">
				<span class="formBar"></span>
				<label for="username">New Password</label>
			</div>
			<div class="formInput">
				<input class="formControl" id="retypeNewPassword" type="password" placeholder="Retype New Password" name="retypeNewPassword">
				<span class="formBar"></span>
				<label for="password">Retype New Password</label>
			</div>
			<div class="errorMessage">
				{{ errorMessage }}
			</div>
			<button id="buttonSubmitReset" class="buttonSignIn"> Submit <i class="iconParent iconLock"></i></button>
		</form>

		</div>

		<!--Footer-->
		<div class="footer">
			{% include 'footer.tmpl' %}
		</div>

</body>

</html>