<!DOCTYPE html>
<html>

<head>

	<!--Styles-->
	<link rel="stylesheet" type="text/css" href="css/signIn.css" />
	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<!--Scripts-->

	<!--Templates-->
	<meta charset="UTF-8">

</head>

<body>


		<!--SingIn-->
		<div class="signIn">
			<h1 class="mainHeader">Reset Password</h1>
			<form method="POST" action="resetPassword.php">
				<input type="password" name="password" class="input passwordInput" placeholder="New Password">
				<input type="password" name="newPassword" class="input newpasswordInput" placeholder="Retype New Password">
				<button id="buttonSubmitReset" class="buttonSignIn"> Submit <i class="iconParent iconLock"></i></button>
			</form>
		</div>


</body>

</html>