<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" type="text/css" href="{{ path }}/css/sign-in.css" />
	<link rel="stylesheet" type="text/css" href="{{ path }}/css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{ path }}js/app.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!--Favicon-->
	<link rel='shortcut icon' type='image/x-icon' href='{{ path }}/images/favicon.ico' />
	<!--Templates-->
	<meta charset="UTF-8">
	<title>Reset Password</title>
</head>

<body>
	<!--pagina curenta-->
	<div class="current-page">
		{{ currentPage }}
	</div>

	<!--SingIn-->
	<div class="signIn">
	<h1 class="mainHeader reset">Reset Password</h1>

		<form method="POST" action="{{ path }}controllers/reset-user-password">
			<div class="formInput">
				<input type="hidden" name="link" value="{{ link }}">
				<input class="formControl" id="newPassword" type="password" placeholder="New Password" name="newPassword">
				<span class="formBar"></span>
				<label for="newPassword">New Password</label>
			</div>
			<div class="formInput">
				<input class="formControl" id="retypeNewPassword" type="password" placeholder="Retype New Password" name="retypeNewPassword">
				<span class="formBar"></span>
				<label for="retypeNewPassword">Retype New Password</label>
			</div>
			<div class="passwordsStatus"></div>

			{% if errorMessage != ''%}
				<div class="errorMessage">
					{{ errorMessage|nl2br }}
				</div>
			{% endif %}

			<button id="buttonSubmitReset" class="buttonSignIn button button-blue center"> Submit <i class="iconParent iconLock"></i></button>
			<a href="{{ path }}login"  class="link">Go back to Login </a>
		</form>

		</div>

		<!--Footer-->
		{% include 'partial-templates/footer.tmpl' %}

</body>

</html>