<!DOCTYPE html>
<html>

<head>

	<!--Styles-->
	<link rel="stylesheet" type="text/css" href="css/signIn.css" />
	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<!--Scripts-->

	<!--Templates-->
	<meta charset="UTF-8">

</head>

<body>


	<!--SingIn-->
	<div class="signIn">
	<h1 class="mainHeader">Reset Password</h1>

		<form>
			<div class="formInput">
				<input class="formControl" id="newPassword" type="password" placeholder="New Password">
				<span class="ma-form-bar"></span>
				<label for="username">New Password</label>
			</div>
			<div class="formInput">
				<input class="formControl" id="retypeNewPassword" type="password" placeholder="Retype New Password">
				<span class="ma-form-bar"></span>
				<label for="password">Retype New Password</label>
			</div>
			<div class="errorMessage">
				{{ errorMessage }}
			</div>
			<button id="buttonSubmitReset" class="buttonSignIn"> Submit <i class="iconParent iconLock"></i></button>
		</form>

		</div>

		<!--Footer-->
		<div class="footer">
			{% include 'footer.tmpl' %}
		</div>

</body>

</html>