	<div class="topProfile">
		<h4 class="topLogo"> [e-spres-oh] Internship </h4>
	</div>
	<div class="userAvatar">
		<i class=" iconParent iconProfileUser"></i>
		<h3 class="userName"> Admin </h3>
	</div>

	<nav>
		<ul>
		<li><a href='dashboard.php'><i class=" iconParent iconDashboard"></i> Dashboard </a></li>
		<li><a href='createMentor.php'><i class=" iconParent iconPlus"></i> Create Mentor </a></li>
		<li><a href='createIntern.php'><i class=" iconParent iconPlus"></i> Create Intern </a></li>
		</ul>
	</nav>