<!DOCTYPE html>
<html>

<head>
	<!--Styles-->
	<link rel="stylesheet" href="../css/dashboard.css" />
	<link rel="stylesheet" href="../css/default.css" />
	<!--Scripts-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src ="../js/signin.js"></script>
	<script src="https://tinymce.cachefly.net/4.2/tinymce.min.js"></script>
	<script>tinymce.init({selector:'textarea'});</script>
	<script type="text/javascript" src ="../js/tab.js"></script>
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!--Templates-->
	<meta charset="UTF-8">
</head>

<body>

		<!--Sidebar-->
	<div class="side-navigation">
		{% include 'partial-templates/sidebar.tmpl' %}
	</div>

	<!--Content-->
	<div class="topAccount">
		{% include 'partial-templates/top-account-section.tmpl' %}
	</div>

	<!--Container-->

	<div class="courseList">

		<div class="alignment">
			<h2 class="category">Submitted Exercises for Frontend</h2>
		</div>

		<div class="existingExercise">

		<div class="exercise-details">

			<div class="course-exercise-name">

			<div class="alignment">
				<h3 class="newUserName"><a href="">Exercise NUMBER</a></h3>
			</div>

			<div class="buttonAlignment">
				<a href="" class="buttonOpen">Open</a>
			</div>

			</div>

			<div class="course-title-name">
				<h4>Course Name</h4>
			</div>

			<div class="course-exercise-content">
			<span class="courseDetail alignment">description</span>
			</div>

		</div>

		<div class="exercise-responses">

			<div class="exercise-details">
				<div class="alignment">
					<h3 class="newUserName"><a href="">Solution from Intern Name 1</a></h3>
				</div>
				<div class="buttonAlignment">
					<a href="" class="buttonOpen">Open</a>
				</div>
			</div>

			<div class="course-exercise-content">
				<span class="courseDetail alignment">description</span>
			</div>

		</div>

		<div class="exercise-responses">

			<div class="exercise-details">
				<div class="alignment">
					<h3 class="newUserName"><a href="">Solution from Intern Name 2</a></h3>
				</div>
				<div class="buttonAlignment">
					<a href="" class="buttonOpen">Open</a>
				</div>
			</div>

			<div class="course-exercise-content">
				<span class="courseDetail alignment">description</span>
			</div>

		</div>

		</div>

	</div>

		<!--Footer-->
	<div class="footer">
		{% include 'partial-templates/footer.tmpl' %}
	</div>

	</body>
</html>
