		<div class="topAccountSection">
			<a href="logout.php" class="hoverLogin">
				<i class="iconParent iconSmallProfileUser"></i>Admin<i class="iconParent iconDownArrow"></i><span>Logout</span>
			</a>
		</div>